Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

fix(infra-as-code): create EKS log group
  infra-as-code/basic-infra/4-services/eks_cluster.tf
Due: sonar-analysis

fix(infra-as-code): create EKS log group
  infra-as-code/basic-infra/4-services/eks_cluster.tf
  infra-as-code/basic-infra/4-services/terraform_config.tf
Due: sonar-analysis

feat(infra-as-code): increase the number of replicas for the `bruin-bridge`
  .gitlab-ci.yml
Due: none

fix(digi-bridge): add missing logs
  services/digi-bridge/src/application/actions/get_digi_recovery_logs.py
Due: semantic-release, sonar-analysis

docs(digi-bridge): add digi bridge documentation
  docs/README.md
  docs/diagrams/workflows/automation/18-digi-bridge.bpmn
  docs/images/18-digi-bridge.png
  docs/logging/events/18-digi-bridge.md
  docs/logging/services/digi-bridge/actions/digi_reboot.md
  docs/logging/services/digi-bridge/actions/get_digi_recovery_logs.md
  docs/logging/services/digi-bridge/clients/digi_client/check_if_token_is_created_and_valid.md
  docs/logging/services/digi-bridge/clients/digi_client/get_digi_recovery_logs.md
  docs/logging/services/digi-bridge/clients/digi_client/login.md
  docs/logging/services/digi-bridge/clients/digi_client/reboot.md
  docs/logging/services/digi-bridge/repositories/digi_repository/get_digi_recovery_logs.md
  docs/logging/services/digi-bridge/repositories/digi_repository/login_job.md
  docs/logging/services/digi-bridge/repositories/digi_repository/reboot.md
Due: none

docs(digi-reboot-report): add digi reboot report documentation
  docs/README.md
  docs/diagrams/workflows/automation/22-digi-reboot-report.bpmn
  docs/images/22-digi-reboot-report.png
  docs/logging/events/22-digi-reboot-report.md
  docs/logging/services/digi-reboot-report/actions/_digi_reboot_report_process.md
  docs/logging/services/digi-reboot-report/actions/_generate_and_email_csv_file.md
  docs/logging/services/digi-reboot-report/actions/_get_all_ticket_ids_from_digi_recovery_logs.md
  docs/logging/services/digi-reboot-report/actions/_get_ticket_task_histories.md
  docs/logging/services/digi-reboot-report/actions/_merge_recovery_logs.md
  docs/logging/services/digi-reboot-report/actions/start_digi_reboot_report_job.md
  docs/logging/services/digi-reboot-report/repositories/digi_repository/get_digi_recovery_logs.md
Due: none

build(velocloud-bridge): upgrade APScheduler version
  services/velocloud-bridge/poetry.lock
  services/velocloud-bridge/pyproject.toml
Due: sonar-analysis

refactor(velocloud-bridge): refactor login logic to make sure tokens are refreshed before they expire
  services/velocloud-bridge/src/app.py
  services/velocloud-bridge/src/application/clients/velocloud_client.py
  services/velocloud-bridge/src/application/repositories/velocloud_repository.py
  services/velocloud-bridge/src/config/config.py
Due: semantic-release, sonar-analysis

feat(velocloud-bridge): fix failing tests and add new ones
  services/velocloud-bridge/src/config/testconfig.py
  services/velocloud-bridge/src/tests/clients/velocloud_client_test.py
  services/velocloud-bridge/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

docs(customer-cache): add documentation
  docs/README.md
  docs/diagrams/workflows/automation/23-customer-cache.bpmn
  docs/images/23-customer-cache.png
  docs/logging/events/23-customer-cache.md
  docs/logging/services/customer-cache/actions/get_customers/get_customers.md
  docs/logging/services/customer-cache/actions/refresh_cache/_add_ha_devices_to_cache.md
  docs/logging/services/customer-cache/actions/refresh_cache/_filter_edge_list.md
  docs/logging/services/customer-cache/actions/refresh_cache/_need_to_refresh_cache.md
  docs/logging/services/customer-cache/actions/refresh_cache/_partial_refresh_cache.md
  docs/logging/services/customer-cache/actions/refresh_cache/_refresh_cache.md
  docs/logging/services/customer-cache/actions/refresh_cache/_send_email_multiple_inventories.md
  docs/logging/services/customer-cache/actions/refresh_cache/_send_email_snapshot.md
  docs/logging/services/customer-cache/actions/refresh_cache/schedule_cache_refresh.md
  docs/logging/services/customer-cache/repositories/bruin_repository/get_client_info.md
  docs/logging/services/customer-cache/repositories/bruin_repository/get_management_status.md
  docs/logging/services/customer-cache/repositories/bruin_repository/get_site_details.md
  docs/logging/services/customer-cache/repositories/storage_repository/get_cache.md
  docs/logging/services/customer-cache/repositories/storage_repository/get_host_cache.md
  docs/logging/services/customer-cache/repositories/storage_repository/set_cache.md
  docs/logging/services/customer-cache/repositories/storage_repository/update_refresh_date.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/_get_all_enterprise_edges.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/_get_all_serials.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/_get_logical_id_by_edge_list.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/add_edge_config.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/extract_edge_info.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/get_all_edges_links.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/get_all_velo_edges.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/get_edges.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/get_edges_links_by_host.md
  docs/logging/services/customer-cache/repositories/velocloud_repository/get_links_configuration.md
Due: none

fix(customer-cache): add missing logs, and change severity and reword a few existing ones
  services/customer-cache/src/application/actions/get_customers.py
  services/customer-cache/src/application/actions/refresh_cache.py
  services/customer-cache/src/application/repositories/storage_repository.py
  services/customer-cache/src/application/repositories/velocloud_repository.py
  services/customer-cache/src/tests/actions/get_customers_test.py
Due: semantic-release, sonar-analysis

fix(hawkeye-customer-cache): add missing logs, and change severity and reword a few existing ones
  services/hawkeye-customer-cache/src/application/actions/get_customers.py
  services/hawkeye-customer-cache/src/application/actions/refresh_cache.py
  services/hawkeye-customer-cache/src/application/repositories/bruin_repository.py
  services/hawkeye-customer-cache/src/application/repositories/storage_repository.py
  services/hawkeye-customer-cache/src/tests/actions/get_customers_test.py
  services/hawkeye-customer-cache/src/tests/actions/refresh_cache_test.py
  services/hawkeye-customer-cache/src/tests/conftest.py
Due: semantic-release, sonar-analysis

docs(hawkeye-customer-cache): add documentation
  docs/README.md
  docs/diagrams/workflows/automation/24-hawkeye-customer-cache.bpmn
  docs/images/24-hawkeye-customer-cache.png
  docs/logging/events/24-hawkeye-customer-cache.md
  docs/logging/services/hawkeye-customer-cache/actions/get_customers/get_customers.md
  docs/logging/services/hawkeye-customer-cache/actions/refresh_cache/_refresh_cache.md
  docs/logging/services/hawkeye-customer-cache/actions/refresh_cache/_send_email_multiple_inventories.md
  docs/logging/services/hawkeye-customer-cache/actions/refresh_cache/schedule_cache_refresh.md
  docs/logging/services/hawkeye-customer-cache/repositories/bruin_repository/filter_probe.md
  docs/logging/services/hawkeye-customer-cache/repositories/bruin_repository/get_client_info.md
  docs/logging/services/hawkeye-customer-cache/repositories/bruin_repository/get_management_status.md
  docs/logging/services/hawkeye-customer-cache/repositories/hawkeye_repository/get_probes.md
  docs/logging/services/hawkeye-customer-cache/repositories/storage_repository/get_hawkeye_cache.md
  docs/logging/services/hawkeye-customer-cache/repositories/storage_repository/set_hawkeye_cache.md
Due: none

fix(hawkeye-outage-monitor): add missing logs, and change severity and reword a few existing ones
  services/hawkeye-outage-monitor/src/application/actions/outage_monitoring.py
  services/hawkeye-outage-monitor/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

docs(hawkeye-outage-monitor): rework existing documentation
  docs/README.md
  docs/diagrams/workflows/automation/10-hawkeye-outage-monitor.bpmn
  docs/diagrams/workflows/automation/10-ixia-outage-monitoring.bpmn
  docs/images/10-hawkeye-outage-monitor.png
  docs/images/10-ixia-outage-monitoring.jpg
  docs/logging/events/10-hawkeye-outage-monitor.md
  docs/logging/events/10-ixia-outage-monitoring.md
  docs/logging/services/hawkeye-outage-monitor/actions/_append_triage_note_if_needed.md
  docs/logging/services/hawkeye-outage-monitor/actions/_map_probes_info_with_customer_cache.md
  docs/logging/services/hawkeye-outage-monitor/actions/_outage_monitoring_process.md
  docs/logging/services/hawkeye-outage-monitor/actions/_recheck_devices_for_ticket_creation.md
  docs/logging/services/hawkeye-outage-monitor/actions/_reopen_outage_ticket.md
  docs/logging/services/hawkeye-outage-monitor/actions/_run_ticket_autoresolve.md
  docs/logging/services/hawkeye-outage-monitor/actions/_schedule_recheck_job_for_devices.md
  docs/logging/services/hawkeye-outage-monitor/actions/outage_monitoring/_append_triage_note_if_needed.md
  docs/logging/services/hawkeye-outage-monitor/actions/outage_monitoring/_map_probes_info_with_customer_cache.md
  docs/logging/services/hawkeye-outage-monitor/actions/outage_monitoring/_outage_monitoring_process.md
  docs/logging/services/hawkeye-outage-monitor/actions/outage_monitoring/_recheck_devices_for_ticket_creation.md
  docs/logging/services/hawkeye-outage-monitor/actions/outage_monitoring/_reopen_outage_ticket.md
  docs/logging/services/hawkeye-outage-monitor/actions/outage_monitoring/_run_ticket_autoresolve.md
  docs/logging/services/hawkeye-outage-monitor/actions/outage_monitoring/_schedule_recheck_job_for_devices.md
  docs/logging/services/hawkeye-outage-monitor/actions/outage_monitoring/start_hawkeye_outage_monitoring.md
  docs/logging/services/hawkeye-outage-monitor/actions/start_hawkeye_outage_monitoring.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/append_autoresolve_note_to_ticket.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/append_note_to_ticket.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/append_triage_note.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/append_triage_note_to_ticket.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/create_outage_ticket.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/get_open_outage_tickets.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/get_outage_tickets.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/get_ticket.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/get_ticket_details.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/get_tickets.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/open_ticket.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/resolve_ticket.md
  docs/logging/services/hawkeye-outage-monitor/repositories/bruin_repository/unpause_ticket_detail.md
  docs/logging/services/hawkeye-outage-monitor/repositories/customer_cache_repository/get_cache.md
  docs/logging/services/hawkeye-outage-monitor/repositories/customer_cache_repository/get_cache_for_outage_monitoring.md
  docs/logging/services/hawkeye-outage-monitor/repositories/hawkeye_repository/get_probes.md
Due: none

docs(velocloud-bridge): update documentation to reflect the latest changes
  docs/logging/services/velocloud-bridge/clients/velocloud_client/__login_if_needed.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/__schedule_relogin_job_if_needed.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/_connect_to_all_hosts.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/_create_and_connect_client.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/_create_headers_by_host.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/_json_return.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/_login.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/_relogin_client.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/_start_relogin_job.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_all_events.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_edge_configuration_modules.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_edge_links_series.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_enterprise_edges.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_gateway_status_metrics.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_links_metric_info.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_links_with_edge_info.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_monitoring_aggregates.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_network_enterprises.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/get_network_gateways.md
  docs/logging/services/velocloud-bridge/clients/velocloud_client/schedule_connect_to_all_hosts.md
Due: none

feat(hawkeye-bridge): add missing logs
  services/hawkeye-bridge/src/application/actions/get_probes.py
  services/hawkeye-bridge/src/application/actions/get_test_results.py
  services/hawkeye-bridge/src/application/repositories/hawkeye_repository.py
Due: semantic-release, sonar-analysis

docs(hawkeye-bridge): add service's documentation
  docs/README.md
  docs/diagrams/workflows/automation/25-hawkeye-bridge.bpmn
  docs/images/25-hawkeye-bridge.png
  docs/logging/events/25-hawkeye-bridge.md
  docs/logging/services/hawkeye-bridge/actions/get_probes.md
  docs/logging/services/hawkeye-bridge/actions/get_test_results.md
  docs/logging/services/hawkeye-bridge/app_entrypoint/app.md
  docs/logging/services/hawkeye-bridge/clients/hawkeye_client/__log_result.md
  docs/logging/services/hawkeye-bridge/clients/hawkeye_client/get_probes.md
  docs/logging/services/hawkeye-bridge/clients/hawkeye_client/get_test_result_details.md
  docs/logging/services/hawkeye-bridge/clients/hawkeye_client/get_tests_results.md
  docs/logging/services/hawkeye-bridge/clients/hawkeye_client/login.md
  docs/logging/services/hawkeye-bridge/repositories/hawkeye_repository/__make_paginated_request.md
  docs/logging/services/hawkeye-bridge/repositories/hawkeye_repository/get_probes.md
  docs/logging/services/hawkeye-bridge/repositories/hawkeye_repository/get_test_results.md
Due: none

feat(hawkeye-bridge): update poetry
  services/hawkeye-bridge/poetry.lock
  services/hawkeye-bridge/pyproject.toml
Due: sonar-analysis

Deployed 9c2607686d to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/sitemap.xml
  1.16.0/sitemap.xml.gz
Due: none

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
