Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

fix(packer): WIP try to fix python 3.10 on packer image
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): add fedramp dockerfile and add packer to services t7-bridge, task-dispacter, tnba-feedback, tnba-monitor, and velocloud-bridge
  services/t7-bridge/.gitlab-ci.yml
  services/t7-bridge/Dockerfile
  services/task-dispatcher/.gitlab-ci.yml
  services/task-dispatcher/Dockerfile
  services/tnba-feedback/.gitlab-ci.yml
  services/tnba-feedback/Dockerfile
  services/tnba-monitor/.gitlab-ci.yml
  services/tnba-monitor/Dockerfile
  services/velocloud-bridge/.gitlab-ci.yml
  services/velocloud-bridge/Dockerfile
Due: semantic-release, sonar-analysis

fix(packer): WIP try to fix python 3.10 on packer image
  services/bruin-bridge/.gitlab-ci.yml
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

fix(packer): WIP try to fix python 3.10 on packer image
  services/bruin-bridge/Dockerfile
  services/bruin-bridge/dockerfile.test
Due: semantic-release, sonar-analysis

fix(packer): remove remaining instances of bruin in the packer stages for other services
  services/bruin-bridge/.gitlab-ci.yml
  services/customer-cache/.gitlab-ci.yml
  services/digi-bridge/.gitlab-ci.yml
  services/digi-reboot-report/.gitlab-ci.yml
  services/dri-bridge/.gitlab-ci.yml
  services/email-bridge/.gitlab-ci.yml
  services/email-tagger-kre-bridge/.gitlab-ci.yml
  services/email-tagger-monitor/.gitlab-ci.yml
  services/forticloud-cache/.gitlab-ci.yml
  services/forticloud-monitor/.gitlab-ci.yml
  services/forticloud-poller/.gitlab-ci.yml
  services/fraud-monitor/.gitlab-ci.yml
  services/gateway-monitor/.gitlab-ci.yml
  services/hawkeye-affecting-monitor/.gitlab-ci.yml
  services/hawkeye-bridge/.gitlab-ci.yml
  services/hawkeye-customer-cache/.gitlab-ci.yml
  services/hawkeye-outage-monitor/.gitlab-ci.yml
  services/intermapper-outage-monitor/.gitlab-ci.yml
  services/last-contact-report/.gitlab-ci.yml
  services/links-metrics-api/.gitlab-ci.yml
  services/links-metrics-collector/.gitlab-ci.yml
  services/lumin-billing-report/.gitlab-ci.yml
  services/notifications-bridge/.gitlab-ci.yml
  services/repair-tickets-kre-bridge/.gitlab-ci.yml
  services/repair-tickets-monitor/.gitlab-ci.yml
  services/service-affecting-monitor/.gitlab-ci.yml
  services/service-outage-monitor/.gitlab-ci.yml
  services/servicenow-bridge/.gitlab-ci.yml
  services/t7-bridge/.gitlab-ci.yml
  services/task-dispatcher/.gitlab-ci.yml
  services/tnba-feedback/.gitlab-ci.yml
  services/tnba-monitor/.gitlab-ci.yml
  services/velocloud-bridge/.gitlab-ci.yml
Due: sonar-analysis

fix(ci): fix sonar analisys job to be run when needed
  .gitlab-ci.yml
Due: none

feat(service-outage-monitor): resolve only interfaces returned from velo
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): add log for previously/resolved faulty interfaces
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

fix(scripts): fix environmenr variables of semantic release on services scripts
  ci-utils/environments/environment_assign.sh
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
Due: none

fix(scripts): fix environmenr variables of semantic release on services scripts
  ci-utils/environments/environment_assign.sh
Due: none

fix(scripts): fix environmenr variables of semantic release on services scripts
  ci-utils/environments/environment_assign.sh
  gitlab-ci/basic-templates/.gitlab-ci-build-image-templates.yml
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
Due: none

fix(scripts): fix coreutils version sort
  ci-utils/environments/environment_assign.sh
Due: none

fix(containers): add the command to get a file for the link metrics api/collectors fedramp dockerfile
  services/links-metrics-api/Dockerfile
  services/links-metrics-collector/Dockerfile
Due: semantic-release, sonar-analysis

fix(link-metrics): create an env variable for the path to the service folder
  services/links-metrics-api/Dockerfile
  services/links-metrics-api/src/application/clients/mongo_client.py
  services/links-metrics-api/src/config/config.py
  services/links-metrics-collector/Dockerfile
  services/links-metrics-collector/src/application/clients/mongo_client.py
  services/links-metrics-collector/src/config/config.py
Due: semantic-release, sonar-analysis

fix(packer): fix gitlab file for service outage and bruin bridge
  services/bruin-bridge/.gitlab-ci.yml
  services/service-outage-monitor/.gitlab-ci.yml
Due: sonar-analysis

fix(service-outage-monitor):fix packer in service-outage-monitor
  services/bruin-bridge/.gitlab-ci.yml
  services/service-outage-monitor/.gitlab-ci.yml
Due: sonar-analysis

feat(service-outage-monitor): add note for auto resolved links
  services/bruin-bridge/src/app.py
  services/bruin-bridge/src/application/actions/get_ticket_detail_ids_by_ticket_detail_interfaces.py
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/application/models/subscriptions.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
  services/bruin-bridge/src/tests/action/get_ticket_detail_ids_by_ticket_detail_interfaces_test.py
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
  services/bruin-bridge/src/tests/repositories/bruin_repository_test.py
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): add params for bandwidth reports recipiants per clients
  docs/parameters/parameters.md
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
  installation-utils/environment_files_generator.py
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/template_repository.py
  services/service-affecting-monitor/src/config/config.py
  services/service-affecting-monitor/src/config/testconfig.py
Due: semantic-release, sonar-analysis

fix(infra-as-code): add new params
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
Due: sonar-analysis

fix(service-affecting-monitor): fix bandwidth report for clients with no contacts
  services/service-affecting-monitor/src/application/repositories/template_repository.py
Due: semantic-release, sonar-analysis

fix(velocloud-bridge): fix velocloud client expired cookie handling
  services/velocloud-bridge/src/application/clients/velocloud_client.py
Due: semantic-release, sonar-analysis

fix(containers): fix reloader dockerfile with fips package
  infra-as-code/containers/reloader/Dockerfile
Due: sonar-analysis

fix(gitlab-ci): change order of internal eks packer before build infra
  .gitlab-ci.yml
Due: none

fix(velocloud-bridge): unit tests
  services/velocloud-bridge/src/application/clients/velocloud_client.py
  services/velocloud-bridge/src/tests/clients/velocloud_client_test.py
Due: semantic-release, sonar-analysis

fix(velocloud-bridge): fix get cookie if missing
  services/velocloud-bridge/src/application/clients/velocloud_client.py
  services/velocloud-bridge/src/tests/clients/velocloud_client_test.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): increase the memory limits for the service-affecting-monitor
  helm/charts/automation-engine/charts/service-affecting-monitor/values.yaml
Due: none

fix(bruin-bridge): fix update_ticket_status if no interface is passed
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
Due: semantic-release, sonar-analysis

fix(velocloud-bridge): fix velocloud_client response when exception thrown
  services/velocloud-bridge/src/application/clients/velocloud_client.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): increase again the memory limits for the service-affecting-monitor
  helm/charts/automation-engine/charts/service-affecting-monitor/values.yaml
Due: none

fix(containers): fix reloader dockerfile with a container version
  infra-as-code/containers/reloader/Dockerfile
Due: sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
