Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

.gitlab-ci.yml:

stages:
  - validation
  - unit_test
  - sonar
  - parameters
  - basic_infra
  - basic_infra_kre
  - deploy_kre_runtimes
  - release
  - build
  - deploy
  - helm
  - docs
  - destroy

variables:
  # CI/CD variables
  NATS_MODULE_VERSION: 2.1.0
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  REPOSITORY_URL: 374050862540.dkr.ecr.us-east-1.amazonaws.com
  IGZ_PACKAGES_REPOSITORY_URL: https://s3pypi.mettel-automation.net/igzpackages/index.html
  HTTPS_REMOTE: https://${GITLAB_TOKEN_USER}:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
  GITLAB_API_URL: https://gitlab.intelygenz.com/api/v4/projects/1040

  # Desired replicas of microservices
  BRUIN_BRIDGE_DESIRED_TASKS: "2"
  CUSTOMER_CACHE_DESIRED_TASKS: "1"
  DIGI_BRIDGE_DESIRED_TASKS: "1"
  DIGI_REBOOT_REPORT_DESIRED_TASKS: "1"
  DRI_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_KRE_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_MONITOR_DESIRED_TASKS: "1"
  FRAUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_POLLER_DESIRED_TASKS: "1"
  FORTICLOUD_CACHE_DESIRED_TASKS: "0"
  GATEWAY_MONITOR_DESIRED_TASKS: "1"
  HAWKEYE_AFFECTING_MONITOR_DESIRED_TASKS: "0"
  HAWKEYE_BRIDGE_DESIRED_TASKS: "1"
  HAWKEYE_CUSTOMER_CACHE_DESIRED_TASKS: "1"
  HAWKEYE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  INTERMAPPER_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  LAST_CONTACT_REPORT_DESIRED_TASKS: "1"
  LINKS_METRICS_API_DESIRED_TASKS: "1"
  LINKS_METRICS_COLLECTOR_DESIRED_TASKS: "1"
  LUMIN_BILLING_REPORT_DESIRED_TASKS: "1"
  NATS_SERVER_DESIRED_TASKS: "3"
  EMAIL_BRIDGE_DESIRED_TASKS: "3"
  NOTIFICATIONS_BRIDGE_DESIRED_TASKS: "2"
  PROMETHEUS_NATS_EXPORTER_DESIRED_TASKS: "1"
  REPAIR_TICKETS_KRE_BRIDGE_DESIRED_TASKS: "1"
  REPAIR_TICKETS_MONITOR_DESIRED_TASKS: "1"
  SERVICE_AFFECTING_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_TRIAGE_DESIRED_TASKS: "1"
  SERVICENOW_BRIDGE_DESIRED_TASKS: "1"
  TASK_DISPATCHER_DESIRED_TASKS: "1"
  TNBA_FEEDBACK_DESIRED_TASKS: "1"
  TNBA_MONITOR_DESIRED_TASKS: "1"
  T7_BRIDGE_DESIRED_TASKS: "1"
  VELOCLOUD_BRIDGE_DESIRED_TASKS: "2"

include:
  # Jobs templates used in Gitlab-CI Yml's
  - local: 'gitlab-ci/**/*.yml'
  # Gitlab-CI jobs
  - local: 'infra-as-code/**/.gitlab-ci.yml'
  - local: 'services/**/.gitlab-ci.yml'
  - local: 'helm/.gitlab-ci.yml'
  - local: 'docs/.gitlab-ci.yml'

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
    - yarn bootstrap
    - yarn global add multi-semantic-release
    - apk add --update git bash
    - multi-semantic-release
  resource_group: semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_TITLE =~ /(feat|fix|perf|refactor)\(.*\): .*$/'
      changes:
        - "services/*/src/application/**/*"
        - "services/*/src/config/**/*"
        - "services/*/src/app.py"
        - "services/*/Dockerfile"
        - "services/*/requirements.txt"
    - if: $CI_COMMIT_TAG
      when: never

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
    - kubernetes
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - services/**/*
        - infra-as-code/**/*
    - if: $CI_COMMIT_TAG
      when: never

perf(containers): fix correct path for bruin bridge service
  ci-utils/packer/ansible/playbook.yaml
Due: none

perf(containers): Remodel the docker file system
  ci-utils/packer/ansible/playbook.yaml
  ci-utils/packer/packer.pkr.hcl
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
  infra-as-code/containers/cluster-autoscaler-aws/Dockerfile
  infra-as-code/containers/external-dns/Dockerfile
  infra-as-code/containers/external-secrets/Dockerfile
  infra-as-code/containers/fluent-bit/Dockerfile
  infra-as-code/containers/ingress-nginx-controller/Dockerfile
  infra-as-code/containers/metrics-server/Dockerfile
  infra-as-code/containers/reloader/Dockerfile
  services/bruin-bridge/.gitlab-ci.yml
  services/bruin-bridge/Dockerfile
  services/bruin-bridge/Dockerfile.packer
Due: semantic-release, sonar-analysis

perf(containers): Add pyutils automation to packer
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): wait until packer is conected to run commands with apt
  ci-utils/packer/packer.pkr.hcl
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): remove bash from ansible
  ci-utils/packer/ansible/playbook.yaml
Due: none

perf(containers): remove unsuported method on ansible playbook
  ci-utils/packer/ansible/playbook.yaml
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): Return to old version of packer
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): fix correct path for bruin bridge service
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): add builkit to ansible
  ci-utils/packer/ansible/playbook.yaml
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): use the correct path to download the key from s3 to sign the containers
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): add make install of python
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): use the correct path to download the key from s3 to sign the containers
  ci-utils/packer/ansible/playbook.yaml
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): fix miss character on ansible packer
  ci-utils/packer/ansible/playbook.yaml
Due: none

perf(containers): use the correct path to download the key from s3 to sign the containers
  ci-utils/packer/ansible/playbook.yaml
Due: none

fix(packer): WIP try to fix python 3.10 on packer image
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): add no root installation of poetry
  services/bruin-bridge/Dockerfile
  services/bruin-bridge/dockerfile.test
Due: semantic-release, sonar-analysis

perf(containers): Change dockerfile to run with poetry instead of python3
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): use the correct path to download the key from s3 to sign the containers
  ci-utils/packer/ansible/playbook.yaml
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): use the correct path to download the key from s3 to sign the containers
  ci-utils/packer/ansible/playbook.yaml
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
Due: none

WIP
  ci-utils/environments/environment_assign.sh
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): copy keys to root directory
  ci-utils/packer/ansible/playbook.yaml
Due: none

perf(containers): use the correct path to download the key from s3 to sign the containers
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): add make install of python
  services/bruin-bridge/Dockerfile
  services/bruin-bridge/dockerfile.test
Due: semantic-release, sonar-analysis

perf(containers): AWS pass correct credentials to ansible
  ci-utils/packer/ansible/playbook.yaml
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): Add AWS login on packer
  ci-utils/packer/ansible/playbook.yaml
  ci-utils/packer/packer.pkr.hcl
Due: none

fix(packer): WIP try to fix python 3.10 on packer image
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis
