Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

fix(service-outage-monitor): fix getting ids from response
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): line length
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): line length
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(containers): add eks prefix to ecr_repository_names
  infra-as-code/containers/fluent-bit/.gitlab-ci.yml
  infra-as-code/containers/ingress-nginx-controller/.gitlab-ci.yml
  infra-as-code/containers/reloader/.gitlab-ci.yml
Due: sonar-analysis

fix(service-outage-monitor): add/fix logging
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

fix(infra-as-code): inject env variables to reloader container
  helm/reloader/values.yaml
  infra-as-code/basic-infra/3-registry/outputs.tf
  infra-as-code/basic-infra/4-services/data.tf
  infra-as-code/basic-infra/4-services/helm_releases.tf
Due: sonar-analysis

fix(infra-as-code): inject env variables to reloader container
  infra-as-code/basic-infra/4-services/helm/external-charts/reloader-values.yaml
Due: sonar-analysis

fix(infra-as-code): inject env variables to reloader container
  infra-as-code/basic-infra/4-services/helm_releases.tf
Due: sonar-analysis

fix(containers): increase memory limits for service affecting
  helm/charts/automation-engine/values.yaml.tpl
Due: none

feat(service-outage-monitor): add logic to close byob ticket when auto-resolved
  services/bruin-bridge/src/app.py
  services/bruin-bridge/src/application/actions/close_ticket.py
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/application/models/subscriptions.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
  services/bruin-bridge/src/tests/action/close_ticket_test.py
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
  services/bruin-bridge/src/tests/repositories/bruin_repository_test.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): unit tests
  services/bruin-bridge/src/application/clients/bruin_client.py
Due: semantic-release, sonar-analysis

fix(containers): add container version and change fips packages route for metrics-server dockerfile
  helm/charts/automation-engine/values.yaml.tpl
  infra-as-code/containers/metrics-server/Dockerfile
Due: sonar-analysis

fix(containers): changes fips for k8s containers
  infra-as-code/containers/cluster-autoscaler-aws/Dockerfile
  infra-as-code/containers/external-dns/Dockerfile
  infra-as-code/containers/external-secrets/Dockerfile
  infra-as-code/containers/fluent-bit/Dockerfile
  infra-as-code/containers/ingress-nginx-controller/Dockerfile
Due: sonar-analysis

fix(containers): copy fluent bit docker build code
  infra-as-code/containers/fluent-bit/Dockerfile
Due: sonar-analysis

feat(service-outage-monitor): update func for getting previous faulty interfaces
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): fix relevent notes to include interface notes
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): add func to forward task to worker queue
  docs/parameters/parameters.md
  helm/charts/automation-engine/charts/service-outage-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/global.tf
  installation-utils/environment_files_generator.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
  services/bruin-bridge/src/tests/action/change_detail_work_queue_test.py
  services/bruin-bridge/src/tests/repositories/bruin_repository_test.py
  services/service-outage-monitor/src/application/__init__.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/config/config.py
  services/service-outage-monitor/src/config/testconfig.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
  services/task-dispatcher/src/application/actions/task_dispatcher.py
  services/task-dispatcher/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): clear forward to worker queue task, enhance check, add unit tests
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): forward to lines to ipa queue by id on create/reopen
  services/service-outage-monitor/src/application/__init__.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/config/config.py
  services/service-outage-monitor/src/config/testconfig.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
  services/service-outage-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): add ipa queue id param
  docs/parameters/parameters.md
  helm/charts/automation-engine/charts/service-outage-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/global.tf
  installation-utils/environment_files_generator.py
Due: sonar-analysis

fix(service-outage-monitor): remove print statements
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): fix from link types to link interfaces
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): forward line from ipa when AM comes
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): add asyncio.sleep before getting ticket after creation
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): remove forward to asr
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): fix linter issues
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: sonar-analysis

fix(service-outage-monitor): extend sleep before getting ticket details after creation
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): removed wait after ticket creation
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): readd wait after ticket creation, fix triage note
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/triage_repository.py
Due: semantic-release, sonar-analysis

fix(customer-cache): change ticket contacts to be optional
  services/customer-cache/src/application/actions/refresh_cache.py
  services/customer-cache/src/tests/actions/refresh_cache_test.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

fix(customer-cache): update logs
  services/customer-cache/src/application/actions/refresh_cache.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix when subscribers is None
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): unit test
  services/service-affecting-monitor/src/tests/repositories/bruin_repository_test.py
Due: sonar-analysis

fix(customer-cache): add serial_number into logs
  services/customer-cache/src/application/actions/refresh_cache.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): add log for post_outage_ticket resp body
  services/bruin-bridge/src/application/clients/bruin_client.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): increase sleep to 5 seconds
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

build(semantic-release): fix learna update
  package.json
Due: none

feat(service-affecting-monitor): add disabled client option for bandwidth
  docs/parameters/parameters.md
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/README.md
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
  installation-utils/environment_files_generator.py
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/repositories/trouble_repository.py
  services/service-affecting-monitor/src/config/config.py
  services/service-affecting-monitor/src/config/testconfig.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
Due: semantic-release, sonar-analysis

feat(customer-cache): add interface service number to cache
  services/customer-cache/src/application/actions/refresh_cache.py
  services/customer-cache/src/tests/actions/refresh_cache_test.py
Due: semantic-release, sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
