Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

.gitlab-ci.yml:

stages:
  - validation
  - unit_test
  - sonar
  - parameters
  - basic_infra
  - basic_infra_kre
  - deploy_kre_runtimes
  - release
  - build
  - deploy
  - helm
  - docs
  - destroy

variables:
  # CI/CD variables
  NATS_MODULE_VERSION: 2.1.0
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  REPOSITORY_URL: 374050862540.dkr.ecr.us-east-1.amazonaws.com
  IGZ_PACKAGES_REPOSITORY_URL: https://s3pypi.mettel-automation.net/igzpackages/index.html
  HTTPS_REMOTE: https://${GITLAB_TOKEN_USER}:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
  GITLAB_API_URL: https://gitlab.intelygenz.com/api/v4/projects/1040

  # Desired replicas of microservices
  BRUIN_BRIDGE_DESIRED_TASKS: "2"
  CUSTOMER_CACHE_DESIRED_TASKS: "1"
  DIGI_BRIDGE_DESIRED_TASKS: "1"
  DIGI_REBOOT_REPORT_DESIRED_TASKS: "1"
  DRI_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_KRE_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_MONITOR_DESIRED_TASKS: "1"
  FRAUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_POLLER_DESIRED_TASKS: "1"
  FORTICLOUD_CACHE_DESIRED_TASKS: "0"
  GATEWAY_MONITOR_DESIRED_TASKS: "1"
  HAWKEYE_AFFECTING_MONITOR_DESIRED_TASKS: "0"
  HAWKEYE_BRIDGE_DESIRED_TASKS: "1"
  HAWKEYE_CUSTOMER_CACHE_DESIRED_TASKS: "1"
  HAWKEYE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  INTERMAPPER_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  LAST_CONTACT_REPORT_DESIRED_TASKS: "1"
  LINKS_METRICS_API_DESIRED_TASKS: "1"
  LINKS_METRICS_COLLECTOR_DESIRED_TASKS: "1"
  LUMIN_BILLING_REPORT_DESIRED_TASKS: "1"
  NATS_SERVER_DESIRED_TASKS: "3"
  EMAIL_BRIDGE_DESIRED_TASKS: "3"
  NOTIFICATIONS_BRIDGE_DESIRED_TASKS: "2"
  PROMETHEUS_NATS_EXPORTER_DESIRED_TASKS: "1"
  REPAIR_TICKETS_KRE_BRIDGE_DESIRED_TASKS: "1"
  REPAIR_TICKETS_MONITOR_DESIRED_TASKS: "1"
  SERVICE_AFFECTING_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_TRIAGE_DESIRED_TASKS: "1"
  SERVICENOW_BRIDGE_DESIRED_TASKS: "1"
  TASK_DISPATCHER_DESIRED_TASKS: "1"
  TNBA_FEEDBACK_DESIRED_TASKS: "1"
  TNBA_MONITOR_DESIRED_TASKS: "1"
  T7_BRIDGE_DESIRED_TASKS: "1"
  VELOCLOUD_BRIDGE_DESIRED_TASKS: "2"

include:
  # Jobs templates used in Gitlab-CI Yml's
  - local: 'gitlab-ci/**/*.yml'
  # Gitlab-CI jobs
  - local: 'infra-as-code/**/.gitlab-ci.yml'
  - local: 'services/**/.gitlab-ci.yml'
  - local: 'helm/.gitlab-ci.yml'
  - local: 'docs/.gitlab-ci.yml'

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
    - yarn bootstrap
    - yarn global add multi-semantic-release
    - apk add --update git bash
    - multi-semantic-release
  resource_group: semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_TITLE =~ /(feat|fix|perf|refactor)\(.*\): .*$/'
      changes:
        - "services/*/src/application/**/*"
        - "services/*/src/config/**/*"
        - "services/*/src/app.py"
        - "services/*/Dockerfile"
        - "services/*/requirements.txt"
    - if: $CI_COMMIT_TAG
      when: never

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
    - kubernetes
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - services/**/*
        - infra-as-code/**/*
    - if: $CI_COMMIT_TAG
      when: never

fix(links-metrics-collector): rename Mongo client's Database method that was removed on PyMongo v4
  services/links-metrics-collector/src/application/clients/mongo_client.py
Due: semantic-release, sonar-analysis

fix(links-metrics-collector): replace option "ssl_ca_certs" with "tlsCAFile" in the URI used to connect to the AWS DocumentDB instance, as it was renamed in pymongo v4
  services/links-metrics-collector/src/application/clients/mongo_client.py
Due: semantic-release, sonar-analysis

fix(infra-as-code): increase bruin bridge error alarm threshold
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin_bridge__error.tf
Due: sonar-analysis

feat(task-dispatcher): add timestamps to the task objects retrieved from the task dispatcher
  pyutils_automation/py310/src/framework/storage/task_dispatcher_client.py
Due: none

build(task-dispatcher): add a `TASK_TTL` environment variable
  helm/charts/automation-engine/charts/task-dispatcher/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/task-dispatcher.tf
  installation-utils/environment_files_generator.py
  services/task-dispatcher/src/config/config.py
  services/task-dispatcher/src/config/testconfig.py
Due: semantic-release, sonar-analysis

feat(task-dispatcher): keep failed tasks on redis instead of clearing them right away as long as they still have time to live
  services/task-dispatcher/src/application/actions/task_dispatcher.py
Due: semantic-release, sonar-analysis

fix(links-metrics-collector): control simultaneous requests to fetch links metrics series with a semaphore to avoid overloading the velocloud-bridge
  services/links-metrics-collector/src/application/actions/store_links_metrics.py
Due: semantic-release, sonar-analysis

refactor(service-affecting-monitor): update to python 3.10
  docker-compose.yml
  services/service-affecting-monitor/.coveragerc
  services/service-affecting-monitor/.gitlab-ci.yml
  services/service-affecting-monitor/Dockerfile
  services/service-affecting-monitor/poetry.lock
  services/service-affecting-monitor/pyproject.toml
  services/service-affecting-monitor/pytest.ini
  services/service-affecting-monitor/requirements.txt
  services/service-affecting-monitor/setup.py
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/actions/handle_ticket_forward.py
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor_reports.py
  services/service-affecting-monitor/src/application/models/__init__.py
  services/service-affecting-monitor/src/application/models/subscriptions.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/application/repositories/customer_cache_repository.py
  services/service-affecting-monitor/src/application/repositories/email_repository.py
  services/service-affecting-monitor/src/application/repositories/notifications_repository.py
  services/service-affecting-monitor/src/application/repositories/velocloud_repository.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_reports_test.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-affecting-monitor/src/tests/conftest.py
  services/service-affecting-monitor/src/tests/fixtures/_helpers.py
  services/service-affecting-monitor/src/tests/fixtures/bruin.py
  services/service-affecting-monitor/src/tests/fixtures/instances.py
  services/service-affecting-monitor/src/tests/repositories/bruin_repository_test.py
  services/service-affecting-monitor/src/tests/repositories/customer_cache_repository_test.py
  services/service-affecting-monitor/src/tests/repositories/email_repository_test.py
  services/service-affecting-monitor/src/tests/repositories/notifications_repository_test.py
  services/service-affecting-monitor/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

refactor(service-outage-monitor): adopt Python 3.10 and poetry-based Docker image builds
  services/service-outage-monitor/.coveragerc
  services/service-outage-monitor/.gitlab-ci.yml
  services/service-outage-monitor/Dockerfile
  services/service-outage-monitor/poetry.lock
  services/service-outage-monitor/pyproject.toml
  services/service-outage-monitor/pytest.ini
  services/service-outage-monitor/requirements.txt
  services/service-outage-monitor/setup.py
  services/service-outage-monitor/src/app.py
  services/service-outage-monitor/src/application/actions/handle_ticket_forward.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/actions/triage.py
  services/service-outage-monitor/src/application/models/__init__.py
  services/service-outage-monitor/src/application/models/subscriptions.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/application/repositories/customer_cache_repository.py
  services/service-outage-monitor/src/application/repositories/digi_repository.py
  services/service-outage-monitor/src/application/repositories/email_repository.py
  services/service-outage-monitor/src/application/repositories/ha_repository.py
  services/service-outage-monitor/src/application/repositories/notifications_repository.py
  services/service-outage-monitor/src/application/repositories/outage_repository.py
  services/service-outage-monitor/src/application/repositories/utils_repository.py
  services/service-outage-monitor/src/application/repositories/velocloud_repository.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
  services/service-outage-monitor/src/tests/actions/triage_test.py
  services/service-outage-monitor/src/tests/fixtures/_helpers.py
  services/service-outage-monitor/src/tests/fixtures/bruin.py
  services/service-outage-monitor/src/tests/fixtures/instances.py
  services/service-outage-monitor/src/tests/repositories/bruin_repository_test.py
  services/service-outage-monitor/src/tests/repositories/customer_cache_repository_test.py
  services/service-outage-monitor/src/tests/repositories/digi_repository_test.py
  services/service-outage-monitor/src/tests/repositories/email_repository_test.py
  services/service-outage-monitor/src/tests/repositories/ha_repository_test.py
  services/service-outage-monitor/src/tests/repositories/notifications_repository_test.py
  services/service-outage-monitor/src/tests/repositories/outage_repository_test.py
  services/service-outage-monitor/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

refactor(bruin-bridge): rely on TLS certificates included in Docker containers to log into Bruin Identity Server, instead of loading certificate "DigiCert Global G2 TLS RSA SHA256 2020 CA1" manually
  services/bruin-bridge/Dockerfile
  services/bruin-bridge/poetry.lock
  services/bruin-bridge/pyproject.toml
  services/bruin-bridge/src/application/clients/bruin_client.py
Due: semantic-release, sonar-analysis

refactor(links-metrics-api): update service to python 310
  services/links-metrics-api/.gitlab-ci.yml
  services/links-metrics-api/Dockerfile
  services/links-metrics-api/poetry.lock
  services/links-metrics-api/pyproject.toml
  services/links-metrics-api/requirements.txt
  services/links-metrics-api/setup.py
  services/links-metrics-api/src/app.py
  services/links-metrics-api/src/application/actions/get_link_metrics.py
  services/links-metrics-api/src/application/clients/mongo_client.py
  services/links-metrics-api/src/application/server/api_server.py
Due: semantic-release, sonar-analysis

feat(pyutils_automation): removed quart-openapi dependency as it is only used by links-metrics-api
  pyutils_automation/py310/poetry.lock
  pyutils_automation/py310/pyproject.toml
Due: none

feat(): add missing dependencies api-metrics api and collector dockercompose
  docker-compose.yml
Due: none

feat(pyutils): bump nats-py version from 2.0.0 to 2.2.0
  pyutils_automation/py310/poetry.lock
  pyutils_automation/py310/pyproject.toml
Due: none

feat(): update poetry.lock files across the project
  pyutils_automation/bruin-client/poetry.lock
  pyutils_automation/clients/forticloud/poetry.lock
  scripts/reports/signet_network_usage/poetry.lock
  services/bruin-bridge/poetry.lock
  services/customer-cache/poetry.lock
  services/digi-bridge/poetry.lock
  services/digi-reboot-report/poetry.lock
  services/dri-bridge/poetry.lock
  services/email-bridge/poetry.lock
  services/email-tagger-kre-bridge/poetry.lock
  services/email-tagger-monitor/poetry.lock
  services/forticloud-cache/poetry.lock
  services/forticloud-monitor/poetry.lock
  services/forticloud-poller/poetry.lock
  services/fraud-monitor/poetry.lock
  services/gateway-monitor/poetry.lock
  services/hawkeye-affecting-monitor/poetry.lock
  services/hawkeye-bridge/poetry.lock
  services/hawkeye-customer-cache/poetry.lock
  services/hawkeye-outage-monitor/poetry.lock
  services/intermapper-outage-monitor/poetry.lock
  services/last-contact-report/poetry.lock
  services/links-metrics-api/poetry.lock
  services/links-metrics-collector/poetry.lock
  services/lumin-billing-report/poetry.lock
  services/notifications-bridge/poetry.lock
  services/repair-tickets-kre-bridge/poetry.lock
  services/repair-tickets-monitor/poetry.lock
  services/service-affecting-monitor/poetry.lock
  services/service-outage-monitor/poetry.lock
  services/servicenow-bridge/poetry.lock
  services/t7-bridge/poetry.lock
  services/task-dispatcher/poetry.lock
  services/tnba-feedback/poetry.lock
  services/tnba-monitor/poetry.lock
  services/velocloud-bridge/poetry.lock
Due: sonar-analysis

fix(email-tagger-monitor): add missing dependency quart-openapi and bump Quart-CORS
  services/email-tagger-monitor/poetry.lock
  services/email-tagger-monitor/pyproject.toml
Due: sonar-analysis

feat(helm): increase email-bridge's liveness and readiness values to make health checks less aggresive
  helm/charts/automation-engine/charts/email-bridge/templates/deployment.yaml
Due: none

feat(service-outage-monitor): forward tickets for business grade circuits right away instead of keeping them in the IPA queue for some time
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/config/config.py
  services/service-outage-monitor/src/config/testconfig.py
Due: semantic-release, sonar-analysis

build(): add a log to warn us when a parameter in AWS has an empty value
  installation-utils/environment_files_generator.py
Due: none
