Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

.gitlab-ci.yml:

stages:
  - validation
  - unit_test
  - sonar
  - parameters
  - basic_infra
  - basic_infra_kre
  - deploy_kre_runtimes
  - release
  - build
  - deploy
  - helm
  - docs
  - destroy

variables:
  # CI/CD variables
  NATS_MODULE_VERSION: 2.1.0
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  REPOSITORY_URL: 374050862540.dkr.ecr.us-east-1.amazonaws.com
  IGZ_PACKAGES_REPOSITORY_URL: https://s3pypi.mettel-automation.net/igzpackages/index.html
  HTTPS_REMOTE: https://${GITLAB_TOKEN_USER}:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
  GITLAB_API_URL: https://gitlab.intelygenz.com/api/v4/projects/1040

  # Desired replicas of microservices
  BRUIN_BRIDGE_DESIRED_TASKS: "2"
  CUSTOMER_CACHE_DESIRED_TASKS: "1"
  DIGI_BRIDGE_DESIRED_TASKS: "1"
  DIGI_REBOOT_REPORT_DESIRED_TASKS: "1"
  DRI_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_KRE_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_MONITOR_DESIRED_TASKS: "1"
  FRAUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_POLLER_DESIRED_TASKS: "1"
  FORTICLOUD_CACHE_DESIRED_TASKS: "0"
  GATEWAY_MONITOR_DESIRED_TASKS: "1"
  HAWKEYE_AFFECTING_MONITOR_DESIRED_TASKS: "0"
  HAWKEYE_BRIDGE_DESIRED_TASKS: "1"
  HAWKEYE_CUSTOMER_CACHE_DESIRED_TASKS: "1"
  HAWKEYE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  INTERMAPPER_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  LAST_CONTACT_REPORT_DESIRED_TASKS: "1"
  LINKS_METRICS_API_DESIRED_TASKS: "1"
  LINKS_METRICS_COLLECTOR_DESIRED_TASKS: "1"
  LUMIN_BILLING_REPORT_DESIRED_TASKS: "1"
  NATS_SERVER_DESIRED_TASKS: "3"
  EMAIL_BRIDGE_DESIRED_TASKS: "3"
  NOTIFICATIONS_BRIDGE_DESIRED_TASKS: "2"
  PROMETHEUS_NATS_EXPORTER_DESIRED_TASKS: "1"
  REPAIR_TICKETS_KRE_BRIDGE_DESIRED_TASKS: "1"
  REPAIR_TICKETS_MONITOR_DESIRED_TASKS: "1"
  SERVICE_AFFECTING_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_TRIAGE_DESIRED_TASKS: "1"
  SERVICENOW_BRIDGE_DESIRED_TASKS: "1"
  TASK_DISPATCHER_DESIRED_TASKS: "1"
  TNBA_FEEDBACK_DESIRED_TASKS: "1"
  TNBA_MONITOR_DESIRED_TASKS: "1"
  T7_BRIDGE_DESIRED_TASKS: "1"
  VELOCLOUD_BRIDGE_DESIRED_TASKS: "2"

include:
  # Jobs templates used in Gitlab-CI Yml's
  - local: 'gitlab-ci/**/*.yml'
  # Gitlab-CI jobs
  - local: 'infra-as-code/**/.gitlab-ci.yml'
  - local: 'services/**/.gitlab-ci.yml'
  - local: 'helm/.gitlab-ci.yml'
  - local: 'docs/.gitlab-ci.yml'

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
    - yarn bootstrap
    - yarn global add multi-semantic-release
    - apk add --update git bash
    - multi-semantic-release
  resource_group: semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_TITLE =~ /(feat|fix|perf|refactor)\(.*\): .*$/'
      changes:
        - "services/*/src/application/**/*"
        - "services/*/src/config/**/*"
        - "services/*/src/app.py"
        - "services/*/Dockerfile"
        - "services/*/requirements.txt"
    - if: $CI_COMMIT_TAG
      when: never

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
    - kubernetes
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - services/**/*
        - infra-as-code/**/*
    - if: $CI_COMMIT_TAG
      when: never

docs(): fix incorrect reference to Ixia devices in service-affecting-monitor's docs
  docs/logging/services/service-affecting-monitor/repositories/bruin_repository/resolve_ticket.md
  docs/logging/services/service-affecting-monitor/repositories/bruin_repository/unpause_ticket_detail.md
Due: none

docs(): remove documentation that has been integrated in services' workflows
  docs/README.md
  docs/diagrams/workflows/automation/2-BYOB-IPA-queue.bpmn
  docs/diagrams/workflows/automation/3-HNOC-forwarding.bpmn
  docs/diagrams/workflows/automation/4-SA-forward-to-ASR.bpmn
  docs/diagrams/workflows/automation/6-ticket-severity.bpmn
  docs/diagrams/workflows/automation/7-ticket-creation-outcomes.bpmn
  docs/diagrams/workflows/automation/BYOB [OLD].bpmn
  docs/images/2-BYOB-IPA-queue.jpg
  docs/images/3-HNOC-fordwarding.png
  docs/images/4-SA-forward-to-ASR.jpg
  docs/images/6-tickets-severity.png
  docs/images/7-ticket-creation-outcomes.png
  docs/logging/events/2-BYOB-IPA-queue.md
  docs/logging/events/3-HNOC-forwarding.md
  docs/logging/events/4-SA-forward-to-ASR.md
  docs/logging/events/6-ticket-severity.md
  docs/logging/events/7-ticket-creation-outcome.md
Due: none

docs(): fix incorrect reference to Ixia devices in service-affecting-monitor's docs
  scripts/reports/signet_network_usage/poetry.lock
  services/bruin-bridge/poetry.lock
  services/bruin-bridge/pyproject.toml
  services/digi-bridge/poetry.lock
  services/digi-bridge/pyproject.toml
  services/dri-bridge/poetry.lock
  services/dri-bridge/pyproject.toml
  services/email-bridge/poetry.lock
  services/email-bridge/pyproject.toml
  services/email-tagger-monitor/poetry.lock
  services/email-tagger-monitor/pyproject.toml
  services/hawkeye-bridge/poetry.lock
  services/hawkeye-bridge/pyproject.toml
  services/intermapper-outage-monitor/poetry.lock
  services/intermapper-outage-monitor/pyproject.toml
  services/notifications-bridge/poetry.lock
  services/notifications-bridge/pyproject.toml
  services/repair-tickets-monitor/poetry.lock
  services/repair-tickets-monitor/pyproject.toml
  services/servicenow-bridge/poetry.lock
  services/servicenow-bridge/pyproject.toml
  services/task-dispatcher/poetry.lock
  services/task-dispatcher/pyproject.toml
Due: sonar-analysis

WIP
  ci-utils/ansible-packer/packer.pkr.hcl
  infra-as-code/containers/reloader/.gitlab-ci.yml
Due: sonar-analysis

build(infra-as-code): Add packer basic automation
  ci-utils/ansible-packer/playbook.yaml
Due: none

WIP
  infra-as-code/containers/reloader/.gitlab-ci.yml
Due: sonar-analysis

WIP
  infra-as-code/containers/reloader/Dockerfile
Due: sonar-analysis

WIP
  infra-as-code/containers/external-dns/.gitlab-ci.yml
  infra-as-code/containers/external-dns/Dockerfile
  infra-as-code/containers/external-secrets/.gitlab-ci.yml
  infra-as-code/containers/reloader/Dockerfile
Due: sonar-analysis

WIP
  ci-utils/ansible-packer/packer.pkr.hcl
Due: none

WIP
  ci-utils/packer/packer.pkr.hcl
Due: none

WIP
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
Due: none

WIP
  ci-utils/packer/ansible/playbook.yaml
  infra-as-code/basic-infra/3-registry/eks-internals.tf
  infra-as-code/containers/ingress-nginx-controller/.gitlab-ci.yml
  infra-as-code/containers/ingress-nginx-controller/Dockerfile
Due: sonar-analysis

build(infra-as-code): Add packer basic automation
  infra-as-code/containers/reloader/.gitlab-ci.yaml
Due: sonar-analysis

WIP
  ci-utils/packer/ansible/playbook.yaml
Due: none

build(infra-as-code): Add packer basic automation
  .gitlab-ci.yml
  infra-as-code/containers/reloader/.gitlab-ci.yaml
Due: sonar-analysis

build(infra-as-code): Add packer basic automation
  .gitlab-ci.yml
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
  infra-as-code/containers/reloader/.gitlab-ci.yml
Due: sonar-analysis

WIP
  infra-as-code/containers/external-secrets/.gitlab-ci.yml
  infra-as-code/containers/external-secrets/Dockerfile
Due: sonar-analysis

build(ci): change packer after basic infra deployment
  .gitlab-ci.yml
Due: none

fix(dockerfiles): Fix typo in multiple Dockerfile
  services/bruin-bridge/Dockerfile
  services/customer-cache/Dockerfile 
  services/digi-bridge/Dockerfile 
  services/digi-reboot-report/Dockerfile
  services/dri-bridge/Dockerfile copy
  services/email-bridge/Dockerfile copy
  services/repair-tickets-kre-bridge/src/Dockerfile
  services/repair-tickets-monitor/Dockerfile 
  services/service-affecting-monitor/Dockerfile
  services/service-outage-monitor/Dockerfile
Due: semantic-release, sonar-analysis
