Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

Add business logic and domain models
  services/forticloud-monitor/src/application/models/service_number.py
  services/forticloud-monitor/src/application/models/task.py
  services/forticloud-monitor/src/application/models/ticket.py
  services/forticloud-monitor/src/tests/actions/auto_resolve_test.py
  services/forticloud-monitor/src/tests/conftest.py
  services/forticloud-monitor/src/tests/models/device_test.py
  services/forticloud-monitor/src/tests/models/ticket_test.py
Due: semantic-release, sonar-analysis

Add usecase logic and rename domain folder
  services/forticloud-monitor/src/application/actions/check_device.py
  services/forticloud-monitor/src/application/consumers/ap_consumer.py
  services/forticloud-monitor/src/application/consumers/switch_consumer.py
  services/forticloud-monitor/src/application/domain/device.py
  services/forticloud-monitor/src/application/domain/errors.py
  services/forticloud-monitor/src/application/domain/note.py
  services/forticloud-monitor/src/application/domain/service_number.py
  services/forticloud-monitor/src/application/domain/task.py
  services/forticloud-monitor/src/application/domain/ticket.py
  services/forticloud-monitor/src/application/repositories/bruin_repository.py
  services/forticloud-monitor/src/application/repositories/bruin_repository_models/post_repair_ticket.py
  services/forticloud-monitor/src/application/repositories/forticloud_repository.py
  services/forticloud-monitor/src/application/repositories/metrics_repository.py
  services/forticloud-monitor/src/tests/actions/auto_resolve_test.py
  services/forticloud-monitor/src/tests/actions/check_device_test.py
  services/forticloud-monitor/src/tests/actions/conftest.py
  services/forticloud-monitor/src/tests/actions/handle_offline_device_test.py
  services/forticloud-monitor/src/tests/actions/handle_online_device_test.py
  services/forticloud-monitor/src/tests/conftest.py
  services/forticloud-monitor/src/tests/consumers/ap_consumer_test.py
  services/forticloud-monitor/src/tests/consumers/switch_consumer_test.py
  services/forticloud-monitor/src/tests/models/device_test.py
  services/forticloud-monitor/src/tests/models/ticket_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/post_repair_ticket_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/post_ticket_note_test.py
  services/forticloud-monitor/src/tests/repositories/forticloud_repository/build_note_test.py
  services/forticloud-monitor/src/tests/repositories/forticloud_repository/get_device_test.py
Due: semantic-release, sonar-analysis

Implement bruin repository resolve task and rename some tests
  services/forticloud-monitor/src/application/repositories/bruin_repository.py
  services/forticloud-monitor/src/tests/actions/check_device_test.py
  services/forticloud-monitor/src/tests/actions/handle_offline_device_test.py
  services/forticloud-monitor/src/tests/actions/handle_online_device_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/resolve_task_test.py
Due: semantic-release, sonar-analysis

Implement unpause bruin ticket
  services/forticloud-monitor/src/application/repositories/bruin_repository.py
  services/forticloud-monitor/src/tests/conftest.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/unpause_task_test.py
Due: semantic-release, sonar-analysis

Build(infra-as-code): Modified the values to 1 in Metrics and Alarms created for CloudWatch
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin__so_ticket_creations_with_invalid_id.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/email__login_errors.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/gateway_monitor__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__down_events_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__events_processed.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage_no_emails_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/servicenow_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_affecting__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__triage_job_finished.tf
Due: sonar-analysis

Build(infra-as-code): This is the first metric and alarm created.
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_affecting__tickets_created.tf
Due: sonar-analysis

Build(infra-as-code): Modify patterns in Metrics and Alarms created for CloudWatch
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__events_processed.tf
Due: sonar-analysis

Build(infra-as-code): Create Metrics and Alarms in CloudWatch
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin__so_ticket_creations_with_invalid_id.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/email__login_errors.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/gateway_monitor__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__down_events_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage_no_emails_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/servicenow_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__triage_job_finished.tf
Due: sonar-analysis

build(infra-as-code): Simplified alarm names and descriptions
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin__so_ticket_creations_with_invalid_id.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/data.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/email__login_errors.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/gateway_monitor__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__down_events_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__events_processed.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage_no_emails_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/servicenow_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_affecting__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__triage_job_finished.tf
Due: sonar-analysis

fix(infra-as-code): fix typos
  infra-as-code/basic-infra/8-metrics-and-alarms/email__login_errors.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_bridge__error.tf
Due: sonar-analysis

build(infra-as-code): Added actions to the Alarms
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin__so_ticket_creations_with_invalid_id.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/email__login_errors.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/gateway_monitor__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__down_events_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__events_processed.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage_no_emails_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/servicenow_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_affecting__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__triage_job_finished.tf
Due: sonar-analysis

build(infra-as-code): fixing metrics references in cloudwatch alarms
  infra-as-code/basic-infra/8-metrics-and-alarms/email__login_errors.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_affecting__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__tickets_created.tf
Due: sonar-analysis

build(infra-as-code): added alarm for no tickets created in Service Affecting
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_affecting__tickets_created.tf
Due: sonar-analysis

build(infra-as-code): added Terraform state to persist the state of the metrics and alarms automatically created
  infra-as-code/basic-infra/8-metrics-and-alarms/remote_state.tf
Due: sonar-analysis

refactor(last-contact-report): adopt Python 3.10 and poetry-based Docker image builds
  services/last-contact-report/.coveragerc
  services/last-contact-report/.gitlab-ci.yml
  services/last-contact-report/Dockerfile
  services/last-contact-report/poetry.lock
  services/last-contact-report/pyproject.toml
  services/last-contact-report/pytest.ini
  services/last-contact-report/requirements.txt
  services/last-contact-report/setup.py
  services/last-contact-report/src/app.py
  services/last-contact-report/src/application/actions/alert.py
  services/last-contact-report/src/application/repositories/email_repository.py
  services/last-contact-report/src/application/repositories/notifications_repository.py
  services/last-contact-report/src/application/repositories/utils_repository.py
  services/last-contact-report/src/application/repositories/velocloud_repository.py
  services/last-contact-report/src/tests/actions/alert_test.py
  services/last-contact-report/src/tests/conftest.py
  services/last-contact-report/src/tests/repositories/email_repository_test.py
  services/last-contact-report/src/tests/repositories/notifications_repository_test.py
  services/last-contact-report/src/tests/repositories/template_management_test.py
  services/last-contact-report/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

feat(gitlab-ci): override default Docker image in template unittest_module_python_310 to use a non-alpine Python 3.10 one
  gitlab-ci/basic-templates/.gitlab-ci-unit_test-templates.yml
Due: none

feat(gitlab-ci): install FortiCloud and Bruin clients on unit test jobs
  gitlab-ci/basic-templates/.gitlab-ci-unit_test-templates.yml
Due: none

refactor(dri-bridge): adopt Python 3.10 and poetry-based Docker image builds
  services/dri-bridge/.coveragerc
  services/dri-bridge/.gitlab-ci.yml
  services/dri-bridge/Dockerfile
  services/dri-bridge/poetry.lock
  services/dri-bridge/pyproject.toml
  services/dri-bridge/pytest.ini
  services/dri-bridge/requirements.txt
  services/dri-bridge/setup.py
  services/dri-bridge/src/app.py
  services/dri-bridge/src/application/actions/get_dri_parameters.py
  services/dri-bridge/src/application/clients/dri_client.py
  services/dri-bridge/src/application/models/__init__.py
  services/dri-bridge/src/application/models/subscriptions.py
  services/dri-bridge/src/application/repositories/dri_repository.py
  services/dri-bridge/src/application/repositories/storage_repository.py
  services/dri-bridge/src/application/repositories/utils_repository.py
  services/dri-bridge/src/tests/action/get_dri_parameters_test.py
  services/dri-bridge/src/tests/clients/dri_client_test.py
  services/dri-bridge/src/tests/repositories/dri_repository_test.py
  services/dri-bridge/src/tests/repositories/storage_repository_test.py
Due: semantic-release, sonar-analysis

Implement bruin find ticket and add configuration parameters
  helm/charts/automation-engine/charts/forticloud-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/forticloud-monitor.tf
  installation-utils/environment_files_generator.py
  services/forticloud-monitor/poetry.lock
  services/forticloud-monitor/pyproject.toml
  services/forticloud-monitor/src/app.py
  services/forticloud-monitor/src/application/actions/check_device.py
  services/forticloud-monitor/src/application/domain/errors.py
  services/forticloud-monitor/src/application/domain/task.py
  services/forticloud-monitor/src/application/domain/ticket.py
  services/forticloud-monitor/src/application/repositories/bruin_repository.py
  services/forticloud-monitor/src/application/repositories/bruin_repository_models/find_ticket.py
  services/forticloud-monitor/src/application/repositories/forticloud_repository.py
  services/forticloud-monitor/src/application/repositories/metrics_repository.py
  services/forticloud-monitor/src/config/config.py
  services/forticloud-monitor/src/integration_tests/conftest.py
  services/forticloud-monitor/src/tests/actions/conftest.py
  services/forticloud-monitor/src/tests/actions/handle_online_device_test.py
  services/forticloud-monitor/src/tests/conftest.py
  services/forticloud-monitor/src/tests/domain/device_test.py
  services/forticloud-monitor/src/tests/domain/ticket_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/conftest.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/find_ticket_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/post_repair_ticket_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/post_ticket_note_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/resolve_task_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/unpause_task_test.py
Due: semantic-release, sonar-analysis

Add notes
  services/forticloud-monitor/ap_actual_response.json
  services/forticloud-monitor/ap_response.json
  services/forticloud-monitor/auto_resolve_corner_cases.txt
  services/forticloud-monitor/corner-cases-email.txt
  services/forticloud-monitor/src/bruin_mock.py
  services/forticloud-monitor/src/forticloud_mock.py
  services/forticloud-monitor/switch_actual_response.json
  services/forticloud-monitor/switch_response.json
Due: sonar-analysis

refactor(customer-cache): adopt Python 3.10 and poetry-based Docker image builds
  services/customer-cache/.coveragerc
  services/customer-cache/.gitlab-ci.yml
  services/customer-cache/Dockerfile
  services/customer-cache/poetry.lock
  services/customer-cache/pyproject.toml
  services/customer-cache/pytest.ini
  services/customer-cache/requirements.txt
  services/customer-cache/setup.py
  services/customer-cache/src/app.py
  services/customer-cache/src/application/actions/get_customers.py
  services/customer-cache/src/application/actions/refresh_cache.py
  services/customer-cache/src/application/models/__init__.py
  services/customer-cache/src/application/models/subscriptions.py
  services/customer-cache/src/application/repositories/bruin_repository.py
  services/customer-cache/src/application/repositories/email_repository.py
  services/customer-cache/src/application/repositories/notifications_repository.py
  services/customer-cache/src/application/repositories/storage_repository.py
  services/customer-cache/src/application/repositories/utils_repository.py
  services/customer-cache/src/application/repositories/velocloud_repository.py
  services/customer-cache/src/tests/actions/get_customers_test.py
  services/customer-cache/src/tests/actions/refresh_cache_test.py
  services/customer-cache/src/tests/conftest.py
  services/customer-cache/src/tests/repositories/bruin_repository_test.py
  services/customer-cache/src/tests/repositories/notifications_repository_test.py
  services/customer-cache/src/tests/repositories/storage_repository_test.py
  services/customer-cache/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

build(infra-as-code): changed metric patterns to match current version of logs
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__events_processed.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__triage_job_finished.tf
Due: sonar-analysis

refactor(infra-as-code): keep file format consistent
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin__so_ticket_creations_with_invalid_id.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/email__login_errors.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/gateway_monitor__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__down_events_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__events_processed.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage_no_emails_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/servicenow_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_affecting__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_bridge__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__error.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__tickets_created.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__triage_job_finished.tf
Due: sonar-analysis

fix(infra-as-code): fix the format of log patterns
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__down_events_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__events_processed.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage_no_emails_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/velocloud_outage__triage_job_finished.tf
Due: sonar-analysis

feat(infra-as-code): standardize the email recipients for alarms being sent to MetTel
  infra-as-code/basic-infra/8-metrics-and-alarms/bruin__so_ticket_creations_with_invalid_id.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__down_events_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage_no_emails_received.tf
Due: sonar-analysis

feat(helm): increase customer-cache's CPU limits and requests values to avoid repeated restarts after running out of resources
  helm/charts/automation-engine/charts/customer-cache/values.yaml
  helm/charts/automation-engine/values.yaml
  helm/charts/automation-engine/values.yaml.tpl
Due: none

feat(helm): increase customer-cache's liveness and readiness values to make health checks less aggresive
  helm/charts/automation-engine/charts/customer-cache/templates/deployment.yaml
Due: none

refactor(hawkeye-customer-cache): adopt Python 3.10 and poetry-based Docker image builds
  services/hawkeye-customer-cache/.coveragerc
  services/hawkeye-customer-cache/.gitlab-ci.yml
  services/hawkeye-customer-cache/Dockerfile
  services/hawkeye-customer-cache/poetry.lock
  services/hawkeye-customer-cache/pyproject.toml
  services/hawkeye-customer-cache/pytest.ini
  services/hawkeye-customer-cache/requirements.txt
  services/hawkeye-customer-cache/setup.py
  services/hawkeye-customer-cache/src/app.py
  services/hawkeye-customer-cache/src/application/actions/get_customers.py
  services/hawkeye-customer-cache/src/application/actions/refresh_cache.py
  services/hawkeye-customer-cache/src/application/models/__init__.py
  services/hawkeye-customer-cache/src/application/models/subscriptions.py
  services/hawkeye-customer-cache/src/application/repositories/bruin_repository.py
  services/hawkeye-customer-cache/src/application/repositories/email_repository.py
  services/hawkeye-customer-cache/src/application/repositories/hawkeye_repository.py
  services/hawkeye-customer-cache/src/application/repositories/notifications_repository.py
  services/hawkeye-customer-cache/src/application/repositories/storage_repository.py
  services/hawkeye-customer-cache/src/application/repositories/utils_repository.py
  services/hawkeye-customer-cache/src/tests/actions/get_customers_test.py
  services/hawkeye-customer-cache/src/tests/actions/refresh_cache_test.py
  services/hawkeye-customer-cache/src/tests/conftest.py
  services/hawkeye-customer-cache/src/tests/repositories/bruin_repository_test.py
  services/hawkeye-customer-cache/src/tests/repositories/email_repository_test.py
  services/hawkeye-customer-cache/src/tests/repositories/hawkeye_repository_test.py
  services/hawkeye-customer-cache/src/tests/repositories/notifications_repository_test.py
  services/hawkeye-customer-cache/src/tests/repositories/storage_repository_test.py
Due: semantic-release, sonar-analysis

refactor(hawkeye-outage-monitor): update to python 3.10
  docker-compose.yml
  services/hawkeye-outage-monitor/.gitlab-ci.yml
  services/hawkeye-outage-monitor/Dockerfile
  services/hawkeye-outage-monitor/poetry.lock
  services/hawkeye-outage-monitor/pyproject.toml
  services/hawkeye-outage-monitor/pytest.ini
  services/hawkeye-outage-monitor/requirements.txt
  services/hawkeye-outage-monitor/setup.py
  services/hawkeye-outage-monitor/src/app.py
  services/hawkeye-outage-monitor/src/application/actions/outage_monitoring.py
  services/hawkeye-outage-monitor/src/application/repositories/bruin_repository.py
  services/hawkeye-outage-monitor/src/application/repositories/customer_cache_repository.py
  services/hawkeye-outage-monitor/src/application/repositories/hawkeye_repository.py
  services/hawkeye-outage-monitor/src/application/repositories/notifications_repository.py
  services/hawkeye-outage-monitor/src/tests/actions/outage_monitoring_test.py
  services/hawkeye-outage-monitor/src/tests/conftest.py
  services/hawkeye-outage-monitor/src/tests/repositories/bruin_repository_test.py
  services/hawkeye-outage-monitor/src/tests/repositories/customer_cache_repository_test.py
  services/hawkeye-outage-monitor/src/tests/repositories/hawkeye_repository_test.py
  services/hawkeye-outage-monitor/src/tests/repositories/notifications_repository_test.py
Due: semantic-release, sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
