Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

fix(ci-cd): use the appropriate `DESIRED_TASKS` variable for the `forticloud-monitor` service
  services/forticloud-monitor/.gitlab-ci.yml
Due: sonar-analysis

fix(forticloud-monitor): remove unneeded dependency
  services/forticloud-monitor/poetry.lock
  services/forticloud-monitor/pyproject.toml
Due: sonar-analysis

feat(forticloud-client): fix aiohttp version
  pyutils_automation/clients/forticloud/poetry.lock
  pyutils_automation/clients/forticloud/pyproject.toml
Due: none

feat(forticloud): add redis server to forticloud poller and cache, reuse customer cache
  docker-compose.yml
  helm/charts/automation-engine/charts/forticloud-cache/templates/configmap.yaml
  helm/charts/automation-engine/charts/forticloud-cache/templates/deployment.yaml
  helm/charts/automation-engine/charts/forticloud-cache/templates/external-secret.yaml
  helm/charts/automation-engine/charts/forticloud-cache/values.yaml
  helm/charts/automation-engine/charts/forticloud-monitor/values.yaml
  helm/charts/automation-engine/charts/forticloud-poller/templates/configmap.yaml
  helm/charts/automation-engine/charts/forticloud-poller/templates/deployment.yaml
  helm/charts/automation-engine/charts/forticloud-poller/templates/external-secret.yaml
  helm/charts/automation-engine/charts/forticloud-poller/values.yaml
  installation-utils/environment_files_generator.py
  services/forticloud-poller/.gitlab-ci.yml
  services/forticloud-poller/poetry.lock
  services/forticloud-poller/pyproject.toml
  services/forticloud-poller/src/app.py
  services/forticloud-poller/src/application/repositories/notifications_repository.py
  services/forticloud-poller/src/config/config.py
  services/forticloud-poller/src/config/testconfig.py
Due: semantic-release, sonar-analysis

fix(forticloud-poller): fix test
  services/forticloud-poller/src/tests/repositories/notifications_repository_test.py
Due: sonar-analysis

fix(env-file-generator): fix file formatting
  installation-utils/environment_files_generator.py
Due: none

fix(forticloud-cache): fix file formatting
  infra-as-code/basic-infra/1-parameters/forticloud-cache.tf
Due: sonar-analysis

fix(forticloud-cache): fix terraform file
  helm/charts/automation-engine/charts/forticloud-cache/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/forticloud-cache.tf
Due: sonar-analysis

feat(signet-network-usage-report): rework script to make it compatible with velocloud-bridge's source code after its migration to Python 3.10
  scripts/reports/README.md
  scripts/reports/signet_report.py
Due: none

fix(environment-files-generator): generate VeloCloud credentials envvar with single quotes, so shells don't take them as a command while sourcing and exporting
  installation-utils/environment_files_generator.py
Due: none

feat(velocloud-bridge): make service's source code installable as a Python package
  services/velocloud-bridge/pyproject.toml
Due: sonar-analysis

feat(signet-network-usage-report): move Signet's Network Usage Report script & README to their own folder
  scripts/reports/signet_network_usage/README.md
  scripts/reports/signet_network_usage/signet_report.py
Due: none

feat(signet-network-usage-report): let Poetry manage dependencies by adding pyproject.toml and poetry.lock files
  scripts/reports/signet_network_usage/poetry.lock
  scripts/reports/signet_network_usage/pyproject.toml
Due: none

refactor(service-affecting-monitor): use the Task Dispatcher client instead of the APScheduler to schedule forwards to HNOC
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/application/__init__.py
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-affecting-monitor/src/tests/fixtures/instances.py
  services/service-affecting-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

test(): add `utcnow` return value to the `frozen_datetime` mock
  services/service-affecting-monitor/src/tests/fixtures/misc.py
  services/service-outage-monitor/src/tests/fixtures/misc.py
  services/tnba-monitor/src/tests/fixtures/misc.py
Due: sonar-analysis

refactor(service-outage-monitor): remove unused `bruin_repository` dependency
  services/service-outage-monitor/src/app.py
  services/service-outage-monitor/src/application/actions/handle_ticket_forward.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): handle ticket forward success messages from the task dispatcher
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/application/actions/handle_ticket_forward.py
Due: semantic-release, sonar-analysis

fix(digi-bridge): fix ci file
  services/digi-bridge/.gitlab-ci.yml
Due: sonar-analysis

feat(forticloud-cache): only mandatory fields are required now in the models
  services/forticloud-cache/src/application/clients/models.py
  services/forticloud-cache/src/application/models/models.py
  services/forticloud-cache/src/application/repositories/assemblers/forticloud_access_point_assembler.py
  services/forticloud-cache/src/application/repositories/assemblers/forticloud_networks_assembler.py
  services/forticloud-cache/src/application/repositories/assemblers/forticloud_switch_assembler.py
  services/forticloud-cache/src/tests/repositories/assemblers/forticloud_access_point_assembler_test.py
  services/forticloud-cache/src/tests/repositories/assemblers/forticloud_networks_assembler_test.py
  services/forticloud-cache/src/tests/repositories/assemblers/forticloud_switch_assembler_test.py
Due: semantic-release, sonar-analysis

fix(): fix bruin variables
  installation-utils/environment_files_generator.py
Due: none

feat(forticloud-monitor): Deal with 429 and 500 forticloud errors
  services/forticloud-monitor/poetry.lock
  services/forticloud-monitor/pyproject.toml
  services/forticloud-monitor/src/application/repositories/forticloud_repository.py
  services/forticloud-monitor/src/tests/repositories/forticloud_repository/get_device_test.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): add target queue name to the task key of scheduled tasks
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): add target queue name to the task key of scheduled tasks
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

fix(ci-utils): use the appropriate repository
  ci-utils/papertrail-provisioning/config.py
Due: none

fix(service-affecting-monitor): add missing argument and import
  services/service-affecting-monitor/src/app.py
Due: semantic-release, sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
