Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

build(infra-as-code): Add ingress controller dockerfile
  infra-as-code/containers/external-secrets/Dockerfile
  infra-as-code/containers/ingress-nginx-controller/.gitlab-ci.yml
  infra-as-code/containers/ingress-nginx-controller/Dockerfile
Due: sonar-analysis

build(infra-as-code): Add metrics server container
  infra-as-code/containers/metrics-server/.gitlab-ci.yml
  infra-as-code/containers/metrics-server/Dockerfile
Due: sonar-analysis

build(infra-as-code): fix containers
  infra-as-code/containers/cluster-autoscaler-aws/.gitlab-ci.yml
  infra-as-code/containers/cluster-autoscaler-aws/Dockerfile
  infra-as-code/containers/ingress-nginx-controller/Dockerfile
  infra-as-code/containers/metrics-server/Dockerfile
Due: sonar-analysis

fix(bruin-bridge): Copy pyutils_automation to the remote VM
  services/bruin-bridge/Dockerfile
  services/bruin-bridge/packer.pkr.hcl
Due: semantic-release, sonar-analysis

build(infra-as-code): fix containers
  infra-as-code/containers/cluster-autoscaler-aws/.gitlab-ci.yml
  infra-as-code/containers/cluster-autoscaler-aws/Dockerfile
  infra-as-code/containers/external-secrets/Dockerfile
  infra-as-code/containers/ingress-nginx-controller/Dockerfile
Due: sonar-analysis

build(infra-as-code): fix containers
  infra-as-code/containers/cluster-autoscaler-aws/Dockerfile
  infra-as-code/containers/metrics-server/Dockerfile
Due: sonar-analysis

build(services): Modified Dockerfiles for the Container-Based Workload Management and Hardening
  services/repair-tickets-monitor/Dockerfile 
Due: sonar-analysis

build(services): Modified Dockerfiles for the Container-Based Workload Management and Hardening
  services/digi-bridge/Dockerfile 
  services/digi-reboot-report/Dockerfile
  services/dri-bridge/Dockerfile
  services/dri-bridge/Dockerfile copy
  services/email-bridge/Dockerfile
  services/fraud-monitor/Dockerfile
  services/gateway-monitor/Dockerfile
  services/hawkeye-customer-cache/Dockerfile
  services/hawkeye-outage-monitor/Dockerfile
  services/intermapper-outage-monitor/Dockerfile
  services/last-contact-report/Dockerfile
  services/lumin-billing-report/Dockerfile
  services/notifications-bridge/Dockerfile
  services/repair-tickets-kre-bridge/Dockerfile
  services/service-affecting-monitor/Dockerfile
  services/servicenow-bridge/Dockerfile
  services/task-dispatcher/Dockerfile
Due: semantic-release, sonar-analysis

build(infra-as-code): Added microservices nats and prometheus-nats-exporter
  infra-as-code/basic-infra/3-registry/eks-internals.tf
  infra-as-code/containers/nats/.gitlab-ci.yml
  infra-as-code/containers/nats/Dockerfile
  infra-as-code/containers/prometheus-nats-exporter/.gitlab-ci.yml
  infra-as-code/containers/prometheus-nats-exporter/Dockerfile
Due: sonar-analysis

build(infra-as-code): fix containers
  infra-as-code/containers/cluster-autoscaler-aws/Dockerfile
  infra-as-code/containers/ingress-nginx-controller/packer.pkr.hcl
Due: sonar-analysis

rename eks_prometheus_nats_exporter
  infra-as-code/basic-infra/3-registry/eks-internals.tf
Due: sonar-analysis

build(infra-as-code): disable fluent bit and ingrass nginx controller pipes
  infra-as-code/containers/fluent-bit/.gitlab-ci.yml
  infra-as-code/containers/ingress-nginx-controller/.gitlab-ci.yml
Due: sonar-analysis

build(infra-as-code): disable fluent bit and ingrass nginx controller pipes
  infra-as-code/containers/fluent-bit/.gitlab-ci.yml
  infra-as-code/containers/fluent-bit/.gitlab-ci.yml_disabled
  infra-as-code/containers/ingress-nginx-controller/.gitlab-ci.yml
  infra-as-code/containers/ingress-nginx-controller/.gitlab-ci.yml_disabled
Due: sonar-analysis

build(infra-as-code): disable fluent bit and ingrass nginx controller pipes
  docs/manual_configurations/INIT_AUTOMATION_PROJECT.md
Due: none

Deployed b0ccc17ecf to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/diagrams/workflows/automation/gateway-monitor.bpmn
  1.16.0/images/gateway-monitor.png
  1.16.0/logging/services/bruin-bridge/actions/get_asset_topics/index.html
  1.16.0/logging/services/bruin-bridge/actions/post_notification_email_milestone/index.html
  1.16.0/logging/services/fraud-monitor/repositories/bruin_repository/change_detail_work_queue/index.html
  1.16.0/logging/services/fraud-monitor/repositories/email_repository/get_unread_emails/index.html
  1.16.0/logging/services/tnba-monitor/actions/_get_open_tickets_with_details_by_client_id/index.html
  1.16.0/parameters/parameters/index.html
  1.16.0/sitemap.xml
  1.16.0/sitemap.xml.gz
Due: none

Deployed b0ccc17ecf to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/sitemap.xml.gz
Due: none

build(infra-as-code): disable fluent bit and ingrass nginx controller pipes
  infra-as-code/containers/external-dns/Dockerfile
  infra-as-code/containers/reloader/.gitlab-ci.yml_disabled
Due: sonar-analysis

fix(service-affecting-monitor): check before forwarding blacklisted links to HNOC
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): force service release
  services/service-affecting-monitor/Dockerfile
Due: semantic-release, sonar-analysis

Deployed 7afc4c364b to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/diagrams/workflows/automation/hawkeye-outage-monitor.bpmn
  1.16.0/diagrams/workflows/automation/intermapper-outage-monitor.bpmn
  1.16.0/images/hawkeye-outage-monitor.png
  1.16.0/images/intermapper-outage-monitor.png
  1.16.0/sitemap.xml
  1.16.0/sitemap.xml.gz
Due: none

Deployed 66674b3185 to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/parameters/parameters/index.html
  1.16.0/sitemap.xml.gz
Due: none

Deployed e56ff17c8f to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/parameters/parameters/index.html
  1.16.0/sitemap.xml
  1.16.0/sitemap.xml.gz
Due: none

build(services/bruin-bridge): Added packer build stage to deploy microservice
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
