Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

build(containers): testing packer deployment
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
Due: none

perf(containers): testing packer deployment
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): testing packer deployment
  .gitlab-ci.yml
Due: none

perf(containers): testing packer deployment
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
Due: none

perf(containers): Add sonar analisys job always
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): checking pyutils folder
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): Re-install python to match de version 3.10.4 and not the 3.10.9
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): Add new rule on bruin service gitlab ci
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): Add new rule on bruin service gitlab ci
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): Add superadmin privileges to install cosign on packer ubuntu image
  ci-utils/packer/ansible/playbook.yaml
Due: none

perf(containers): create folder /app/services inside packer machine
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): resolve packer apt problem
  ci-utils/packer/packer.pkr.hcl
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): correction on docker build ansible
  ci-utils/packer/ansible/playbook.yaml
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): fix container app folder on bruin service
  ci-utils/packer/packer.pkr.hcl
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): Re-install python to match de version 3.10.4 and not the 3.10.9
  ci-utils/packer/ansible/playbook.yaml
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): Remove old path on FEDRAMP compiling image
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): Install cosign to sign the containers pushed to AWS ECR
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): Add superadmin privileges to install cosign on packer ubuntu image
  ci-utils/packer/ansible/playbook.yaml
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): Remove extra poetry installation
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): change to manual job ingress controller
  infra-as-code/containers/ingress-nginx-controller/.gitlab-ci.yml
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): Add superadmin privileges to install cosign on packer ubuntu image
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): Add new rule on bruin service gitlab ci
  ci-utils/packer/packer.pkr.hcl
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): remove bash from ansible
  ci-utils/packer/ansible/playbook.yaml
Due: none

perf(containers): Add poetry install command to pyutils folder inside bruin service
  ci-utils/packer/ansible/playbook.yaml
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): Add pyutils automation to packer
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): add buildkit to ansible docker build fedramp
  ci-utils/packer/ansible/playbook.yaml
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): change ansible dockerfile folder to /aa/service
  ci-utils/packer/ansible/playbook.yaml
Due: none

perf(containers): Add AWS login on packer
  ci-utils/packer/ansible/playbook.yaml
  ci-utils/packer/packer.pkr.hcl
Due: none

perf(containers): fix correct path for bruin bridge service
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): Change folder structure inside packer builder
  ci-utils/packer/packer.pkr.hcl
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

perf(containers): fix container app folder on bruin service
  ci-utils/packer/ansible/playbook.yaml
Due: none

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
