Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

.gitlab-ci.yml:

stages:
  - validation
  - unit_test
  - sonar
  - parameters
  - basic_infra
  - basic_infra_kre
  - deploy_kre_runtimes
  - release
  - build
  - deploy
  - helm
  - docs
  - destroy

variables:
  # CI/CD variables
  NATS_MODULE_VERSION: 2.1.0
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  REPOSITORY_URL: 374050862540.dkr.ecr.us-east-1.amazonaws.com
  IGZ_PACKAGES_REPOSITORY_URL: https://s3pypi.mettel-automation.net/igzpackages/index.html
  HTTPS_REMOTE: https://${GITLAB_TOKEN_USER}:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
  GITLAB_API_URL: https://gitlab.intelygenz.com/api/v4/projects/1040

  # Desired replicas of microservices
  BRUIN_BRIDGE_DESIRED_TASKS: "2"
  CUSTOMER_CACHE_DESIRED_TASKS: "1"
  DIGI_BRIDGE_DESIRED_TASKS: "1"
  DIGI_REBOOT_REPORT_DESIRED_TASKS: "1"
  DRI_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_KRE_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_MONITOR_DESIRED_TASKS: "1"
  FRAUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_POLLER_DESIRED_TASKS: "1"
  FORTICLOUD_CACHE_DESIRED_TASKS: "0"
  GATEWAY_MONITOR_DESIRED_TASKS: "1"
  HAWKEYE_AFFECTING_MONITOR_DESIRED_TASKS: "0"
  HAWKEYE_BRIDGE_DESIRED_TASKS: "1"
  HAWKEYE_CUSTOMER_CACHE_DESIRED_TASKS: "1"
  HAWKEYE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  INTERMAPPER_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  LAST_CONTACT_REPORT_DESIRED_TASKS: "1"
  LINKS_METRICS_API_DESIRED_TASKS: "1"
  LINKS_METRICS_COLLECTOR_DESIRED_TASKS: "1"
  LUMIN_BILLING_REPORT_DESIRED_TASKS: "1"
  NATS_SERVER_DESIRED_TASKS: "3"
  EMAIL_BRIDGE_DESIRED_TASKS: "3"
  NOTIFICATIONS_BRIDGE_DESIRED_TASKS: "2"
  PROMETHEUS_NATS_EXPORTER_DESIRED_TASKS: "1"
  REPAIR_TICKETS_KRE_BRIDGE_DESIRED_TASKS: "1"
  REPAIR_TICKETS_MONITOR_DESIRED_TASKS: "1"
  SERVICE_AFFECTING_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_TRIAGE_DESIRED_TASKS: "1"
  SERVICENOW_BRIDGE_DESIRED_TASKS: "1"
  TASK_DISPATCHER_DESIRED_TASKS: "1"
  TNBA_FEEDBACK_DESIRED_TASKS: "1"
  TNBA_MONITOR_DESIRED_TASKS: "1"
  T7_BRIDGE_DESIRED_TASKS: "1"
  VELOCLOUD_BRIDGE_DESIRED_TASKS: "2"

include:
  # Jobs templates used in Gitlab-CI Yml's
  - local: 'gitlab-ci/**/*.yml'
  # Gitlab-CI jobs
  - local: 'infra-as-code/**/.gitlab-ci.yml'
  - local: 'services/**/.gitlab-ci.yml'
  - local: 'helm/.gitlab-ci.yml'
  - local: 'docs/.gitlab-ci.yml'

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
    - yarn bootstrap
    - yarn global add multi-semantic-release
    - apk add --update git bash
    - multi-semantic-release
  resource_group: semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_TITLE =~ /(feat|fix|perf|refactor)\(.*\): .*$/'
      changes:
        - "services/*/src/application/**/*"
        - "services/*/src/config/**/*"
        - "services/*/src/app.py"
        - "services/*/Dockerfile"
        - "services/*/requirements.txt"
    - if: $CI_COMMIT_TAG
      when: never

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
    - kubernetes
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - services/**/*
        - infra-as-code/**/*
    - if: $CI_COMMIT_TAG
      when: never

docs(AC): finishing AC-4 control
  docs/AC/AC.md
Due: none

docs(AC): Add AC-12 section with the neccesary information
  docs/AC/AC.md
Due: none

docs(AC): finish AC-17
  docs/AC/AC.md
Due: none

docs(diagrams): Update backups diagrams plan
  docs/diagrams/workflows/backups/ecr.drawio.svg
  docs/diagrams/workflows/backups/eks-ssh-keys.drawio.svg
  docs/diagrams/workflows/backups/git.drawio.svg
  docs/diagrams/workflows/backups/stages.drawio.svg
  docs/diagrams/workflows/backups/terraform.drawio.svg
Due: none

docs(AC): finish AC-6 2
  docs/AC/AC.md
  docs/diagrams/microservices.drawio.svg
  docs/img/AC/SSM_history_parameters.png
Due: none

docs(AC): finishing AC-2 controls
  docs/AC/AC.md
Due: none

docs(documentation): Add git fedramp documentation configuration
  docs/diagrams/infrastructure/infrastructure.fedramp.drawio.svg
  docs/diagrams/workflows/fedramp/pipeline.drawio.svg
  docs/img/configure_git_fedramp/AWS_GET_OKTA_CREDENTIALS.png
  docs/img/configure_git_fedramp/AWS_OKTA_LOGIN_ACCESS.png
  docs/manual_configurations/CONFIGURE_GIT_FEDRAMP.md
Due: none

feat(service-affecting-monitor): remove bouncing check for wireless
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
Due: semantic-release, sonar-analysis

fix(service-affecting): Add environment variables to helm as secrets and add the SSM parameters of the variables that service affecting needs
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
Due: sonar-analysis

fix(service-affecting-monitor): add description to new ssm parameters
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
Due: sonar-analysis

feat(service-affecting-monitor): add enterprise name to bandwidth report
  services/customer-cache/src/application/repositories/velocloud_repository.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/application/repositories/template_repository.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix wireless params names in helm/terraform, add to docs
  docs/parameters/parameters.md
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
Due: sonar-analysis

fix(service-affecting-monitor): fix new params in docs
  docs/parameters/parameters.md
Due: none

feat(customer-cache): add enterprise name to customer cache
  services/customer-cache/src/application/repositories/__init__.py
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix unit tests
  services/customer-cache/src/tests/actions/refresh_cache_test.py
  services/customer-cache/src/tests/conftest.py
  services/service-affecting-monitor/src/application/repositories/template_repository.py
  services/service-affecting-monitor/src/application/repositories/velocloud_repository.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
  services/service-affecting-monitor/src/tests/fixtures/custom_objects.py
  services/service-affecting-monitor/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): upload bandwidth report to s3
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
  infra-as-code/basic-infra/4-services/locals.tf
  infra-as-code/basic-infra/4-services/s3.tf
  installation-utils/environment_files_generator.py
  services/service-affecting-monitor/poetry.lock
  services/service-affecting-monitor/pyproject.toml
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/s3_repository.py
  services/service-affecting-monitor/src/config/config.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
  services/service-affecting-monitor/src/tests/conftest.py
  services/service-affecting-monitor/src/tests/fixtures/instances.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix variable use before declared
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): add link name to bandwidth report
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/application/repositories/template_repository.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix line length
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
Due: semantic-release, sonar-analysis

feat(service-affecting): Add parameters to access the s3 from the service affecting service
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/8-metrics-and-alarms/mettel_direct_connect.tf
Due: sonar-analysis

fix typo
  infra-as-code/basic-infra/4-services/modules/services/service-affecting-monitor/outputs.tf
Due: sonar-analysis

fix typo
  infra-as-code/basic-infra/4-services/aws_s3_buckets.tf
Due: sonar-analysis

fix typo
  infra-as-code/basic-infra/4-services/modules/services/service-affecting-monitor/variables.tf
Due: sonar-analysis

fix typo
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
  infra-as-code/basic-infra/4-services/outputs.tf
  infra-as-code/basic-infra/4-services/services.tf
Due: sonar-analysis

Upgrade terraform aws provider from version 3 to 4
  infra-as-code/basic-infra/4-services/terraform_config.tf
Due: sonar-analysis

Upgrade terraform aws provider from version 3 to 4
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
  infra-as-code/basic-infra/4-services/services.tf
Due: sonar-analysis

Upgrade terraform aws provider from version 3 to 4
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
  infra-as-code/basic-infra/4-services/modules/services/service-affecting-monitor/aws_ssm_parameters.tf
  infra-as-code/basic-infra/4-services/modules/services/service-affecting-monitor/variables.tf
  infra-as-code/basic-infra/4-services/services.tf
Due: sonar-analysis

Fix typo
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
Due: sonar-analysis

remove principals
  infra-as-code/basic-infra/4-services/aws_iam_role_policies.tf
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
Due: sonar-analysis

fix typos
  infra-as-code/basic-infra/4-services/aws_iam_role_policies.tf
Due: sonar-analysis

feat(service-affecting-monitor): s3 report upload
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
  infra-as-code/basic-infra/4-services/locals.tf
  infra-as-code/basic-infra/4-services/s3.tf
  installation-utils/environment_files_generator.py
  services/service-affecting-monitor/poetry.lock
  services/service-affecting-monitor/pyproject.toml
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/config/config.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix poetry
  services/service-affecting-monitor/poetry.lock
  services/service-affecting-monitor/pyproject.toml
Due: sonar-analysis

fix(service-affecting-monitor): fix poetry
  services/service-affecting-monitor/poetry.lock
Due: sonar-analysis

fix gitlab ci unit test template poetry version
  gitlab-ci/basic-templates/.gitlab-ci-unit_test-templates.yml
Due: none

fix(service-affecting-monitor): add docs, changed docker poetry to working version, update s3 key/secret
  docs/logging/services/service-affecting-monitor/actions/bandwidth_reports/_upload_bandwidth_report_to_s3.md
  docs/logging/services/service-affecting-monitor/repositories/s3_repository/upload_file_to_s3.md
  docs/parameters/parameters.md
  installation-utils/environment_files_generator.py
  services/bruin-bridge/Dockerfile
  services/customer-cache/Dockerfile
  services/digi-bridge/Dockerfile
  services/digi-reboot-report/Dockerfile
  services/dri-bridge/Dockerfile
  services/email-bridge/Dockerfile
  services/email-tagger-kre-bridge/Dockerfile
  services/email-tagger-monitor/Dockerfile
  services/forticloud-cache/Dockerfile
  services/forticloud-monitor/Dockerfile
  services/forticloud-poller/Dockerfile
  services/fraud-monitor/Dockerfile
  services/gateway-monitor/Dockerfile
  services/hawkeye-affecting-monitor/Dockerfile
  services/hawkeye-bridge/Dockerfile
  services/hawkeye-customer-cache/Dockerfile
  services/hawkeye-outage-monitor/Dockerfile
  services/intermapper-outage-monitor/Dockerfile
  services/last-contact-report/Dockerfile
  services/links-metrics-api/Dockerfile
  services/links-metrics-collector/Dockerfile
  services/lumin-billing-report/Dockerfile
  services/notifications-bridge/Dockerfile
  services/repair-tickets-kre-bridge/Dockerfile
  services/repair-tickets-monitor/Dockerfile
  services/service-affecting-monitor/Dockerfile
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-outage-monitor/Dockerfile
  services/servicenow-bridge/Dockerfile
  services/t7-bridge/Dockerfile
  services/task-dispatcher/Dockerfile
  services/tnba-feedback/Dockerfile
  services/tnba-monitor/Dockerfile
  services/velocloud-bridge/Dockerfile
Due: semantic-release, sonar-analysis
