Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

build(basic-infra): fix helm releases master deployment adding a prefix to the EKS internal repositories
  ci-utils/ecr/ecr_images_util.py
  infra-as-code/basic-infra/3-registry/eks-internals.tf
Due: sonar-analysis

feat(service-affecting-monitor): add new fields to bandwidth report
  docs/metrics-definitions/_reports_signet_execution_KO.md
  docs/metrics-definitions/_reports_signet_execution_OK.md
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/application/repositories/metrics_repository.py
  services/service-affecting-monitor/src/application/repositories/template_repository.py
  services/service-affecting-monitor/src/application/repositories/utils_repository.py
  services/service-affecting-monitor/src/application/repositories/velocloud_repository.py
  services/service-affecting-monitor/src/config/config.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
  services/service-affecting-monitor/src/tests/conftest.py
  services/service-affecting-monitor/src/tests/repositories/utils_repository_test.py
  services/service-affecting-monitor/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

Deployed 578f8eab7b to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/metrics-definitions/_reports_signet_execution_KO/index.html
  1.16.0/metrics-definitions/_reports_signet_execution_OK/index.html
  1.16.0/sitemap.xml
  1.16.0/sitemap.xml.gz
  latest/metrics-definitions/_reports_signet_execution_KO/index.html
  latest/metrics-definitions/_reports_signet_execution_OK/index.html
Due: none

fix(service-affecting-monitor): get client IDs from the customer cache to make sure reports are generated for clients that have no custom email recipients
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor_reports.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): typo
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor_reports.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): updated tests
  services/service-affecting-monitor/src/tests/conftest.py
Due: sonar-analysis

fix(): black isort
  scripts/on-call/autoresolve_tickets.py
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/application/repositories/template_repository.py
  services/service-affecting-monitor/src/application/repositories/velocloud_repository.py
  services/service-affecting-monitor/src/config/config.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
  services/service-affecting-monitor/src/tests/conftest.py
  services/service-affecting-monitor/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

Deployed 49b2f7fb12 to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/diagrams/workflows/automation/fraud-monitor.bpmn
  1.16.0/images/fraud-monitor.png
  1.16.0/sitemap.xml.gz
Due: none

Deployed b9738a7f79 to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/diagrams/workflows/automation/fraud-monitor.bpmn
  1.16.0/images/fraud-monitor.png
  1.16.0/sitemap.xml.gz
Due: none

docs(): replace the contents index in the landing page with a welcome message to delegate that responsibility to the navigation bar
  docs/README.md
Due: none

docs(): fix a few typos in BPMNs for hawkeye-outage-monitor and intermapper-outage-monitor
  docs/diagrams/workflows/automation/hawkeye-outage-monitor.bpmn
  docs/diagrams/workflows/automation/intermapper-outage-monitor.bpmn
  docs/images/hawkeye-outage-monitor.png
  docs/images/intermapper-outage-monitor.png
Due: none

docs(): improve documentation's look & feel
  docs/DOCUMENTATION.md
  docs/decisions/README.md
  docs/lambda/PARAMETER_REPLICATOR.md
  docs/logging/events/19-repair-tickets-kre-bridge.md
  docs/logging/events/20-repair-tickets-monitor.md
  docs/logging/events/bruin-bridge.md
  docs/logging/events/customer-cache.md
  docs/logging/events/digi-bridge.md
  docs/logging/events/digi-reboot-report.md
  docs/logging/events/dri-bridge.md
  docs/logging/events/email-bridge.md
  docs/logging/events/fraud-monitor.md
  docs/logging/events/gateway-monitor.md
  docs/logging/events/hawkeye-bridge.md
  docs/logging/events/hawkeye-customer-cache.md
  docs/logging/events/hawkeye-outage-monitor.md
  docs/logging/events/intermapper-outage-monitor.md
  docs/logging/events/last-contact-report.md
  docs/logging/events/lumin-billing-report.md
  docs/logging/events/messages-bus.md
  docs/logging/events/notifications-bridge.md
  docs/logging/events/service-affecting-monitor.md
  docs/logging/events/service-outage-monitor.md
  docs/logging/events/servicenow-bridge.md
  docs/logging/events/t7-bridge.md
  docs/logging/events/task-dispatcher.md
  docs/logging/events/tnba-monitor.md
  docs/logging/events/velocloud-bridge.md
  docs/parameters/parameters.md
  docs/pipeline/BASIC_CI_CONFIGURATION.md
  docs/pipeline/PIPELINE_RULES.md
  docs/snowflake/README.md
  mkdocs.yml
Due: none

docs(): add the glightbox plugin to make docs' images zoomable
  mkdocs.yml
  poetry.lock
  pyproject.toml
Due: none

docs(gateway-monitor): remove unnecessary decision gate from the service's BPMN
  docs/diagrams/workflows/automation/gateway-monitor.bpmn
  docs/images/gateway-monitor.png
Due: none

docs(): REMOVE ME - force docs job to run
  mkdocs.yml
Due: none

docs(): lazy-load all images in order to speed-up page load times
  docs/CREATE_NEW_MICROSERVICE.md
  docs/LOGGING_AND_MONITORING.md
  docs/PIPELINES.md
  docs/SYSTEM_OVERVIEW.md
  docs/lambda/PARAMETER_REPLICATOR.md
  docs/lambda/ssm_backups.md
  docs/logging/events/bruin-bridge.md
  docs/logging/events/customer-cache.md
  docs/logging/events/digi-bridge.md
  docs/logging/events/digi-reboot-report.md
  docs/logging/events/dri-bridge.md
  docs/logging/events/email-bridge.md
  docs/logging/events/fraud-monitor.md
  docs/logging/events/gateway-monitor.md
  docs/logging/events/hawkeye-bridge.md
  docs/logging/events/hawkeye-customer-cache.md
  docs/logging/events/hawkeye-outage-monitor.md
  docs/logging/events/intermapper-outage-monitor.md
  docs/logging/events/last-contact-report.md
  docs/logging/events/lumin-billing-report.md
  docs/logging/events/messages-bus.md
  docs/logging/events/notifications-bridge.md
  docs/logging/events/repair-tickets-kre-bridge.md
  docs/logging/events/repair-tickets-monitor.md
  docs/logging/events/service-affecting-monitor.md
  docs/logging/events/service-outage-monitor.md
  docs/logging/events/servicenow-bridge.md
  docs/logging/events/t7-bridge.md
  docs/logging/events/task-dispatcher.md
  docs/logging/events/tnba-monitor.md
  docs/logging/events/velocloud-bridge.md
  docs/manual_configurations/OKTA_JWT.md
  mkdocs.yml
  services/last-contact-report/README.md
  services/lumin-billing-report/README.md
Due: sonar-analysis

docs(): disable zooming and dragging of images inside a lightbox
  mkdocs.yml
Due: none

docs(): Add missing descriptions
  docs/parameters/parameters.md
Due: none

docs(docs/parameters): add more fields to parameters doc and also make link into hyperlinks
  docs/parameters/parameters.md
Due: none

docs(parameters): add missing units, and fix some value ranges and a few typos
  docs/parameters/parameters.md
Due: none

docs(): remove enumerated prefixes from RTA docs' files
  docs/logging/events/repair-tickets-kre-bridge.md
  docs/logging/events/repair-tickets-monitor.md
Due: none

docs(): reword some section and headings in logs' docs, and fix some formatting issues
  docs/logging/events/customer-cache.md
  docs/logging/events/gateway-monitor.md
  docs/logging/events/intermapper-outage-monitor.md
  docs/logging/events/lumin-billing-report.md
  docs/logging/events/servicenow-bridge.md
  docs/logging/events/t7-bridge.md
Due: none

docs(): fixed wrong formatting
  docs/logging/services/bruin-bridge/actions/get_asset_topics.md
  docs/logging/services/bruin-bridge/actions/post_notification_email_milestone.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/change_detail_work_queue.md
  docs/logging/services/fraud-monitor/repositories/email_repository/get_unread_emails.md
  docs/logging/services/tnba-monitor/actions/_get_open_tickets_with_details_by_client_id.md
Due: none

docs(fraud-monitor): rework service's BPMN and logs docs
  docs/diagrams/workflows/automation/fraud-monitor.bpmn
  docs/images/fraud-monitor.png
  docs/logging/events/fraud-monitor.md
Due: none

feat(): fixed wrong formatting
  services/bruin-bridge/src/application/actions/get_asset_topics.py
  services/bruin-bridge/src/application/actions/post_notification_email_milestone.py
  services/intermapper-outage-monitor/src/tests/actions/intermapper_monitoring_test.py
  services/intermapper-outage-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

feat(gitlab-ci): REMOVE ME - sidestep lack of mkdocs-glightbox dependency in the docs' job Docker image by installing it right before building the docs site and pushing it to the S3 bucket
  gitlab-ci/docs-templates/.gitlab-ci-docs-templates.yml
Due: none

docs(docs/parameters): update the parameters doc with the addition of more parameters fields
  docs/parameters/parameters.md
Due: none

Deployed b23866b117 to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/sitemap.xml
  1.16.0/sitemap.xml.gz
Due: none

buid(containers): change gitlab ci template to build packer containers
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
  infra-as-code/containers/cluster-autoscaler-aws/.gitlab-ci.yml
  infra-as-code/containers/external-dns/.gitlab-ci.yml
  infra-as-code/containers/external-secrets/.gitlab-ci.yml
  infra-as-code/containers/metrics-server/.gitlab-ci.yml
Due: sonar-analysis

build(services/bruin-bridge): Added packer build stage to deploy microservice
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

build(services/bruin-bridge): Modify packer build stage to deploy microservice
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
