Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

fix(customer-cache): fix line length
  services/customer-cache/src/application/actions/refresh_cache.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): fix get_inventory_attributes, add tests
  services/bruin-bridge/src/application/actions/get_inventory_attributes.py
  services/bruin-bridge/src/tests/action/get_inventory_attributes_test.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): changed bandwidth report to work for all clients
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): line length
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
Due: semantic-release, sonar-analysis

fix(customer-cache): fix func definision and env file generator for windows machine
  installation-utils/environment_files_generator.py
  services/customer-cache/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): enhanced statement
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): add logging of login response
  services/bruin-bridge/src/application/clients/bruin_client.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): fix login logging
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
Due: semantic-release, sonar-analysis

fix(sam): fix efimeral deployment
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
Due: none

fix(bruin-bridge): add more logs and change except conditions in login
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): enabled bandwidth checks for vco04
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): enabled bandwidth checks for all clients
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/repositories/trouble_repository.py
  services/service-affecting-monitor/src/tests/repositories/trouble_repository_test.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): add interfaces to bruin auto resolve request
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
  services/service-outage-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): add test for _get_faulty_interfaces_from_ticket_notes_test
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: sonar-analysis

fix(service-outage-monitor): fix line length
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: sonar-analysis

fix(service-outage-monitor): fix unit test
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: sonar-analysis

feat(service-outage-monitor): not autoresolving ethernet assigned tickets (som and sam)
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): fix line length
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): not autoresolving ethernet assigned tickets (som and sam)
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/repositories/ticket_repository.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-affecting-monitor/src/tests/repositories/ticket_repository_test.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix line length
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): update getting faulty interfaces from all notes
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): disable bandwidth checks for vco04
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/repositories/trouble_repository.py
  services/service-affecting-monitor/src/tests/repositories/trouble_repository_test.py
Due: semantic-release, sonar-analysis

fix(semantic-release): increase node version required by a sub package of semantic release
  .gitlab-ci.yml
Due: none

feat(service-outage-monitor): remove max_seconds_since_last outage/trouble check, remove serviceNumber from append note
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
  services/service-outage-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix line length
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): re-add max_seconds_since_last outage/trouble check, re-add serviceNumber from append note
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
  services/service-outage-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(service-outage-monito): fix unit test
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: sonar-analysis

build(services/bruin-bridge): Added Dockerfiles to deploy microservice
  services/bruin-bridge/Dockerfile
  services/bruin-bridge/Dockerfile.packer
Due: semantic-release, sonar-analysis

build(containers): testing packer deployment
  ci-utils/environments/environment_assign.sh
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
  infra-as-code/containers/fluent-bit/.gitlab-ci.yml
  infra-as-code/containers/ingress-nginx-controller/.gitlab-ci.yml
  infra-as-code/containers/reloader/.gitlab-ci.yml
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): testing packer deployment
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

build(containers): testing packer deployment
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): testing packer deployment
  .gitlab-ci.yml
Due: none

perf(containers): Add sonar analisys job always
  .gitlab-ci.yml
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

perf(containers): testing packer deployment
  .gitlab-ci.yml
  ci-utils/packer/ansible/playbook.yaml
  ci-utils/packer/packer.pkr.hcl
  gitlab-ci/basic-templates/.gitlab-ci-packer-templates.yml
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

build(services/bruin-bridge): Add packer build stage to deploy microservice
  services/bruin-bridge/.gitlab-ci.yml
Due: sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
