Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

.gitlab-ci.yml:

stages:
  - validation
  - unit_test
  - sonar
  - parameters
  - basic_infra
  - basic_infra_kre
  - deploy_kre_runtimes
  - release
  - build
  - deploy
  - helm
  - docs
  - destroy

variables:
  # CI/CD variables
  NATS_MODULE_VERSION: 2.1.0
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  REPOSITORY_URL: 374050862540.dkr.ecr.us-east-1.amazonaws.com
  IGZ_PACKAGES_REPOSITORY_URL: https://s3pypi.mettel-automation.net/igzpackages/index.html
  HTTPS_REMOTE: https://${GITLAB_TOKEN_USER}:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
  GITLAB_API_URL: https://gitlab.intelygenz.com/api/v4/projects/1040

  # Desired replicas of microservices
  BRUIN_BRIDGE_DESIRED_TASKS: "2"
  CUSTOMER_CACHE_DESIRED_TASKS: "1"
  DIGI_BRIDGE_DESIRED_TASKS: "1"
  DIGI_REBOOT_REPORT_DESIRED_TASKS: "1"
  DRI_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_KRE_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_MONITOR_DESIRED_TASKS: "1"
  FRAUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_POLLER_DESIRED_TASKS: "1"
  FORTICLOUD_CACHE_DESIRED_TASKS: "0"
  GATEWAY_MONITOR_DESIRED_TASKS: "1"
  HAWKEYE_AFFECTING_MONITOR_DESIRED_TASKS: "0"
  HAWKEYE_BRIDGE_DESIRED_TASKS: "1"
  HAWKEYE_CUSTOMER_CACHE_DESIRED_TASKS: "1"
  HAWKEYE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  INTERMAPPER_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  LAST_CONTACT_REPORT_DESIRED_TASKS: "1"
  LINKS_METRICS_API_DESIRED_TASKS: "1"
  LINKS_METRICS_COLLECTOR_DESIRED_TASKS: "1"
  LUMIN_BILLING_REPORT_DESIRED_TASKS: "1"
  NATS_SERVER_DESIRED_TASKS: "3"
  EMAIL_BRIDGE_DESIRED_TASKS: "3"
  NOTIFICATIONS_BRIDGE_DESIRED_TASKS: "2"
  PROMETHEUS_NATS_EXPORTER_DESIRED_TASKS: "1"
  REPAIR_TICKETS_KRE_BRIDGE_DESIRED_TASKS: "1"
  REPAIR_TICKETS_MONITOR_DESIRED_TASKS: "1"
  SERVICE_AFFECTING_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_TRIAGE_DESIRED_TASKS: "1"
  SERVICENOW_BRIDGE_DESIRED_TASKS: "1"
  TASK_DISPATCHER_DESIRED_TASKS: "1"
  TNBA_FEEDBACK_DESIRED_TASKS: "1"
  TNBA_MONITOR_DESIRED_TASKS: "1"
  T7_BRIDGE_DESIRED_TASKS: "1"
  VELOCLOUD_BRIDGE_DESIRED_TASKS: "2"

include:
  # Jobs templates used in Gitlab-CI Yml's
  - local: 'gitlab-ci/**/*.yml'
  # Gitlab-CI jobs
  - local: 'infra-as-code/**/.gitlab-ci.yml'
  - local: 'services/**/.gitlab-ci.yml'
  - local: 'helm/.gitlab-ci.yml'
  - local: 'docs/.gitlab-ci.yml'

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
    - yarn bootstrap
    - yarn global add multi-semantic-release
    - apk add --update git bash
    - multi-semantic-release
  resource_group: semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_TITLE =~ /(feat|fix|perf|refactor)\(.*\): .*$/'
      changes:
        - "services/*/src/application/**/*"
        - "services/*/src/config/**/*"
        - "services/*/src/app.py"
        - "services/*/Dockerfile"
        - "services/*/requirements.txt"
    - if: $CI_COMMIT_TAG
      when: never

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
    - kubernetes
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - services/**/*
        - infra-as-code/**/*
    - if: $CI_COMMIT_TAG
      when: never

feat(customer-cache): add ticket contacts to cache
  services/customer-cache/src/application/actions/refresh_cache.py
  services/customer-cache/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

feat(service-affecting-moniro): updated open ticket contacts and subscribers
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-affecting-monitor/src/tests/fixtures/bruin.py
  services/service-affecting-monitor/src/tests/fixtures/custom_objects.py
  services/service-affecting-monitor/src/tests/fixtures/customer_cache.py
  services/service-affecting-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix line length
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-affecting-monitor/src/tests/repositories/bruin_repository_test.py
Due: sonar-analysis

fix(bruin-bridge): fix logging format
  services/bruin-bridge/src/application/actions/get_ticket_contacts.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): fix crlf to lf
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
  services/bruin-bridge/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): fix formatting add tests
  services/bruin-bridge/src/application/actions/get_site.py
  services/bruin-bridge/src/application/actions/get_ticket_contacts.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
  services/bruin-bridge/src/tests/action/get_site_test.py
  services/bruin-bridge/src/tests/action/get_ticket_contacts.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): revert packer changes on bruin bridge
  services/bruin-bridge/.gitlab-ci.yml
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

fix(customer-cache): fix line length
  services/customer-cache/src/application/actions/refresh_cache.py
Due: semantic-release, sonar-analysis

fix(customer-cache): fix parsing contact, add unit tests
  services/customer-cache/src/application/actions/refresh_cache.py
  services/customer-cache/src/tests/actions/refresh_cache_test.py
  services/customer-cache/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix unit tests
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-affecting-monitor/src/tests/repositories/bruin_repository_test.py
Due: sonar-analysis

fix(service-affecting-monitor): fix line length
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-affecting-monitor/src/tests/fixtures/custom_objects.py
  services/service-affecting-monitor/src/tests/fixtures/customer_cache.py
Due: sonar-analysis

feat(service-outage-monitor): add interfaces to outage ticket
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/application/repositories/outage_repository.py
  services/service-outage-monitor/src/application/repositories/triage_repository.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
  services/service-outage-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): fix line length
  services/service-outage-monitor/src/application/repositories/triage_repository.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): fix the get_faulty_link_interface so we don't raise a unhashable type error
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/outage_repository.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): if byod=no ticket
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
Due: semantic-release, sonar-analysis

removed test comments
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
Due: sonar-analysis

fix(service-affecting): fix casing for fields to be grabbed from ticket_contact_details and remove search for phone field in ticket_contact_details
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/tests/fixtures/bruin.py
Due: semantic-release, sonar-analysis

updated log
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): fix linter err
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
Due: sonar-analysis

fix(external-dns): update external-dns version and fix owner
  infra-as-code/basic-infra/4-services/helm_releases.tf
  infra-as-code/kre/2-create-eks-cluster/helm_releases.tf
  infra-as-code/kre/2-create-eks-cluster/variables.tf
Due: sonar-analysis

feat(service-affecting-monitor): combine site and ticket contact infos
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
  services/service-affecting-monitor/src/tests/fixtures/bruin.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix variable case
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix test fixture
  services/service-affecting-monitor/src/tests/fixtures/bruin.py
Due: sonar-analysis

fix(service-affecting-monitor): fix line length
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
Due: sonar-analysis

feat(service-affecting): change calculation for bandwidth report fields
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/application/repositories/template_repository.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
Due: semantic-release, sonar-analysis

docs(known_issues): Add datahighway known issues document
  docs/KNOW_ISSUES.md
Due: none

docs(known_issues): Add environments names on the known issues document for the know issue of the API gateway on the datahighway
  docs/KNOW_ISSUES.md
Due: none

feat(service-outage-monitor): add email when edge fully down
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/application/repositories/outage_repository.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
  services/service-outage-monitor/src/tests/repositories/bruin_repository_test.py
  services/service-outage-monitor/src/tests/repositories/outage_repository_test.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): fix new line
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: sonar-analysis

feat(service-affecting): change polling time for bandwdith report to be 5am UTC(12:00AM EST) and add enterprise_id
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/application/repositories/template_repository.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): refactored monitor for wireless vs wired configs
  installation-utils/environment_files_generator.py
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/repositories/ticket_repository.py
  services/service-affecting-monitor/src/application/repositories/trouble_repository.py
  services/service-affecting-monitor/src/application/repositories/utils_repository.py
  services/service-affecting-monitor/src/application/repositories/velocloud_repository.py
  services/service-affecting-monitor/src/config/config.py
  services/service-affecting-monitor/src/config/testconfig.py
  services/service-affecting-monitor/src/tests/repositories/ticket_repository_test.py
  services/service-affecting-monitor/src/tests/repositories/trouble_repository_test.py
  services/service-affecting-monitor/src/tests/repositories/utils_repository_test.py
  services/service-affecting-monitor/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix line length
  services/service-affecting-monitor/src/application/repositories/trouble_repository.py
  services/service-affecting-monitor/src/config/config.py
Due: semantic-release, sonar-analysis

docs(AC): add basic documentation of AC control FEDRAMP
  docs/AC/AC.md
Due: none

docs(AC): Add AC-8 section with the neccesary information
  docs/AC/AC.md
Due: none
