Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

build(): remove no longer used parameters
  infra-as-code/basic-infra/1-parameters/README.md
  infra-as-code/basic-infra/1-parameters/bruin-bridge.tf
  infra-as-code/basic-infra/1-parameters/digi-bridge.tf
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
  infra-as-code/basic-infra/1-parameters/service-outage.tf
Due: sonar-analysis

fix(task-dispatcher): prevent scheduled tasks from being overridden by new ones if they already exist
  pyutils_automation/py310/src/framework/storage/task_dispatcher_client.py
Due: none

feat(intermapper-outage-monitor): Add the condition label to metrics
  docs/metrics-definitions/tasks_autoresolved.md
  docs/metrics-definitions/tasks_created.md
  docs/metrics-definitions/tasks_forwarded.md
  docs/metrics-definitions/tasks_reopened.md
  services/intermapper-outage-monitor/poetry.lock
  services/intermapper-outage-monitor/src/application/__init__.py
  services/intermapper-outage-monitor/src/application/actions/intermapper_monitoring.py
  services/intermapper-outage-monitor/src/application/repositories/metrics_repository.py
  services/intermapper-outage-monitor/src/tests/actions/intermapper_monitoring_test.py
Due: semantic-release, sonar-analysis

refactor(): update actions to send e-mail and Slack notifications to not follow the Request-Reply model anymore
  services/email-bridge/src/application/actions/send_to_email.py
  services/notifications-bridge/src/application/actions/send_to_slack.py
Due: semantic-release, sonar-analysis

feat(email-bridge): allow getting a smaller chunk of messages when getting unread emails instead of always retrieving all of them
  docs/logging/services/email-bridge/clients/email_reader_client/search_messages.md
  services/email-bridge/src/application/actions/get_emails.py
  services/email-bridge/src/application/clients/email_reader_client.py
  services/email-bridge/src/application/repositories/email_reader_repository.py
  services/email-bridge/src/tests/actions/get_emails_test.py
  services/email-bridge/src/tests/clients/email_reader_client_test.py
  services/email-bridge/src/tests/repositories/email_reader_repository_test.py
Due: semantic-release, sonar-analysis

build(intermapper-outage-monitor): add a `MAX_EMAILS_TO_RETRIEVE` environment variable
  docs/parameters/parameters.md
  helm/charts/automation-engine/charts/intermapper-outage-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/intermapper-outage-monitor.tf
  installation-utils/environment_files_generator.py
Due: sonar-analysis

feat(intermapper-outage-monitor): send the `max_messages` parameter to the `email-bridge` to limit the number of emails retrieved
  services/intermapper-outage-monitor/src/application/repositories/email_repository.py
  services/intermapper-outage-monitor/src/config/config.py
  services/intermapper-outage-monitor/src/config/testconfig.py
  services/intermapper-outage-monitor/src/tests/repositories/email_repository_test.py
Due: semantic-release, sonar-analysis

fix(intermapper-outage-monitor): add retry to get ticket details
  services/intermapper-outage-monitor/src/application/repositories/bruin_repository.py
  services/intermapper-outage-monitor/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

feat(servicenow-bridge): add missing log
  services/servicenow-bridge/src/application/actions/report_incident.py
Due: semantic-release, sonar-analysis

docs(servicenow-bridge): add documentation
  docs/README.md
  docs/diagrams/workflows/automation/16-servicenow-bridge.bpmn
  docs/images/16-servicenow-bridge.png
  docs/img/system_overview/capabilities/servicenow-bridge_microservice_relationships.png
  docs/logging/events/16-servicenow-bridge.md
  docs/logging/services/servicenow-bridge/actions/report_incident.md
  docs/logging/services/servicenow-bridge/clients/servicenow_client/_get_access_token.md
  docs/logging/services/servicenow-bridge/clients/servicenow_client/_request.md
  docs/logging/services/servicenow-bridge/clients/servicenow_client/report_incident.md
  docs/logging/services/servicenow-bridge/repositories/servicenow_repository/servicenow_repository.md
Due: none

docs(dri-bridge): add documentation
  docs/README.md
  docs/diagrams/workflows/automation/17-dri-bridge.bpmn
  docs/images/17-dri-bridge.png
  docs/img/system_overview/capabilities/dri-bridge_microservice_relationships.png
  docs/logging/events/17-dri-bridge.md
  docs/logging/services/dri-bridge/actions/get_dri_parameters.md
  docs/logging/services/dri-bridge/clients/dri_client/get_pending_task_ids.md
  docs/logging/services/dri-bridge/clients/dri_client/get_task_id.md
  docs/logging/services/dri-bridge/clients/dri_client/get_task_results.md
  docs/logging/services/dri-bridge/clients/dri_client/login.md
  docs/logging/services/dri-bridge/repositories/dri_repository/_get_pending_task_ids.md
  docs/logging/services/dri-bridge/repositories/dri_repository/_get_task_id.md
  docs/logging/services/dri-bridge/repositories/dri_repository/_get_task_id_from_dri.md
  docs/logging/services/dri-bridge/repositories/dri_repository/_get_task_results.md
  docs/logging/services/dri-bridge/repositories/dri_repository/get_dri_parameters.md
Due: none

fix(dri-bridge): add extra logs to ease troubleshooting
  services/dri-bridge/src/application/repositories/dri_repository.py
Due: semantic-release, sonar-analysis

fix(fluent-bit): update regexes to capture logs to be compliant with logs generated after migrating the system to Python 3.10
  helm/charts/fluent-bit-custom/templates/configmap.yaml
Due: none

feat(linter): Add hadolint config file
  services/service-outage-monitor/.gitignore
  services/service-outage-monitor/.hadolint.yaml
  services/service-outage-monitor/ansible/playbook.yaml
Due: sonar-analysis

fix(infra-as-code): fix the format of log patterns
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__down_events_received.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage__events_processed.tf
  infra-as-code/basic-infra/8-metrics-and-alarms/intermapper_outage_no_emails_received.tf
Due: sonar-analysis

fix(fluent-bit): update mettel_logs parser so the filter used across Kubernetes pods can parse generated logs properly
  helm/charts/fluent-bit-custom/templates/configmap.yaml
Due: none

docs(last-contact-report): add documentation
  docs/README.md
  docs/diagrams/workflows/automation/20-last-contact-report.bpmn
  docs/images/20-last-contact-report.png
  docs/logging/events/20-last-contact-report.md
  docs/logging/services/last-contact-report/actions/alert/_alert_job.md
  docs/logging/services/last-contact-report/actions/alert/start_alert_job.md
  docs/logging/services/last-contact-report/repositories/velocloud_repository/extract_edge_info.md
  docs/logging/services/last-contact-report/repositories/velocloud_repository/get_all_edges_links.md
  docs/logging/services/last-contact-report/repositories/velocloud_repository/get_edges.md
  docs/logging/services/last-contact-report/repositories/velocloud_repository/get_edges_links_by_host.md
Due: none

fix(last-contact-report): add missing log and change severity of an existing one
  services/last-contact-report/src/application/actions/alert.py
  services/last-contact-report/src/application/repositories/velocloud_repository.py
Due: semantic-release, sonar-analysis

docs(lumin-billing-report): add documentation
  docs/README.md
  docs/diagrams/workflows/automation/21-lumin-billing-report.bpmn
  docs/images/21-lumin-billing-report.png
  docs/logging/events/21-lumin-billing-report.md
  docs/logging/services/lumin-billing-report/actions/billing_report/_billing_report_process.md
  docs/logging/services/lumin-billing-report/actions/billing_report/start_billing_report_job.md
  docs/logging/services/lumin-billing-report/clients/email_client/send_to_email.md
  docs/logging/services/lumin-billing-report/clients/lumin_client/get_billing_data_for_period.md
  docs/logging/services/lumin-billing-report/repositories/lumin_repository/get_billing_data_for_period.md
Due: none

fix(bruin-bridge): stop paginated requests to /api/Ticket/basic if there is a mismatch between the size of the current page and how many remaining items are still to be fetched
  services/bruin-bridge/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
