Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

fix(service-affecting-monitor): uncommented code
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
Due: semantic-release, sonar-analysis

fix(policies): add kms access to service account
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
Due: sonar-analysis

fix(policies): add kms access to service account
  infra-as-code/basic-infra/4-services/aws_iam_role_policies.tf
Due: sonar-analysis

feat(service-affecting-monitor): upload bandwidth report to s3
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
  infra-as-code/basic-infra/4-services/locals.tf
  infra-as-code/basic-infra/4-services/s3.tf
  installation-utils/environment_files_generator.py
  services/service-affecting-monitor/poetry.lock
  services/service-affecting-monitor/pyproject.toml
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/s3_repository.py
  services/service-affecting-monitor/src/config/config.py
  services/service-affecting-monitor/src/tests/actions/bandwidth_reports_test.py
  services/service-affecting-monitor/src/tests/conftest.py
  services/service-affecting-monitor/src/tests/fixtures/instances.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): s3 report upload
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/service-affecting.tf
  infra-as-code/basic-infra/4-services/locals.tf
  infra-as-code/basic-infra/4-services/s3.tf
  installation-utils/environment_files_generator.py
  services/service-affecting-monitor/poetry.lock
  services/service-affecting-monitor/pyproject.toml
  services/service-affecting-monitor/src/app.py
  services/service-affecting-monitor/src/config/config.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): fix poetry
  services/service-affecting-monitor/poetry.lock
Due: sonar-analysis

fix(service-affecting-monitor): fix poetry
  services/service-affecting-monitor/poetry.lock
  services/service-affecting-monitor/pyproject.toml
Due: sonar-analysis

fix(service-affecting-monitor): add docs, changed docker poetry to working version, update s3 key/secret
  docs/logging/services/service-affecting-monitor/actions/bandwidth_reports/_upload_bandwidth_report_to_s3.md
  docs/logging/services/service-affecting-monitor/repositories/s3_repository/upload_file_to_s3.md
  docs/parameters/parameters.md
  installation-utils/environment_files_generator.py
  services/bruin-bridge/Dockerfile
  services/customer-cache/Dockerfile
  services/digi-bridge/Dockerfile
  services/digi-reboot-report/Dockerfile
  services/dri-bridge/Dockerfile
  services/email-bridge/Dockerfile
  services/email-tagger-kre-bridge/Dockerfile
  services/email-tagger-monitor/Dockerfile
  services/forticloud-cache/Dockerfile
  services/forticloud-monitor/Dockerfile
  services/forticloud-poller/Dockerfile
  services/fraud-monitor/Dockerfile
  services/gateway-monitor/Dockerfile
  services/hawkeye-affecting-monitor/Dockerfile
  services/hawkeye-bridge/Dockerfile
  services/hawkeye-customer-cache/Dockerfile
  services/hawkeye-outage-monitor/Dockerfile
  services/intermapper-outage-monitor/Dockerfile
  services/last-contact-report/Dockerfile
  services/links-metrics-api/Dockerfile
  services/links-metrics-collector/Dockerfile
  services/lumin-billing-report/Dockerfile
  services/notifications-bridge/Dockerfile
  services/repair-tickets-kre-bridge/Dockerfile
  services/repair-tickets-monitor/Dockerfile
  services/service-affecting-monitor/Dockerfile
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-outage-monitor/Dockerfile
  services/servicenow-bridge/Dockerfile
  services/t7-bridge/Dockerfile
  services/task-dispatcher/Dockerfile
  services/tnba-feedback/Dockerfile
  services/tnba-monitor/Dockerfile
  services/velocloud-bridge/Dockerfile
Due: semantic-release, sonar-analysis

fix gitlab ci unit test template poetry version
  gitlab-ci/basic-templates/.gitlab-ci-unit_test-templates.yml
Due: none

feat(service-affecting): Add parameters to access the s3 from the service affecting service
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/8-metrics-and-alarms/mettel_direct_connect.tf
Due: sonar-analysis

fix typo
  infra-as-code/basic-infra/4-services/modules/services/service-affecting-monitor/outputs.tf
Due: sonar-analysis

fix typo
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
  infra-as-code/basic-infra/4-services/outputs.tf
  infra-as-code/basic-infra/4-services/services.tf
Due: sonar-analysis

Upgrade terraform aws provider from version 3 to 4
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
  infra-as-code/basic-infra/4-services/services.tf
Due: sonar-analysis

Upgrade terraform aws provider from version 3 to 4
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
  infra-as-code/basic-infra/4-services/modules/services/service-affecting-monitor/aws_ssm_parameters.tf
  infra-as-code/basic-infra/4-services/modules/services/service-affecting-monitor/variables.tf
  infra-as-code/basic-infra/4-services/services.tf
Due: sonar-analysis

fix typo
  infra-as-code/basic-infra/4-services/aws_s3_buckets.tf
Due: sonar-analysis

fix typo
  infra-as-code/basic-infra/4-services/modules/services/service-affecting-monitor/variables.tf
Due: sonar-analysis

Upgrade terraform aws provider from version 3 to 4
  infra-as-code/basic-infra/4-services/terraform_config.tf
Due: sonar-analysis

Fix typo
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
Due: sonar-analysis

remove principals
  infra-as-code/basic-infra/4-services/aws_iam_role_policies.tf
  infra-as-code/basic-infra/4-services/aws_iam_services_policies.tf
Due: sonar-analysis

fix typos
  infra-as-code/basic-infra/4-services/aws_iam_role_policies.tf
Due: sonar-analysis

feat(service-affecting-monitor): s3 report upload
  infra-as-code/basic-infra/4-services/locals.tf
  services/service-affecting-monitor/poetry.lock
Due: sonar-analysis

fix(service-affecting-monitor): add docs, changed docker poetry to working version, update s3 key/secret
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
Due: semantic-release, sonar-analysis

Deployed 9caba9979e to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/logging/services/service-affecting-monitor/actions/bandwidth_reports/_upload_bandwidth_report_to_s3/index.html
  1.16.0/logging/services/service-affecting-monitor/repositories/s3_repository/upload_file_to_s3/index.html
  1.16.0/parameters/parameters/index.html
  1.16.0/sitemap.xml
  1.16.0/sitemap.xml.gz
  latest/logging/services/service-affecting-monitor/actions/bandwidth_reports/_upload_bandwidth_report_to_s3/index.html
  latest/logging/services/service-affecting-monitor/repositories/s3_repository/upload_file_to_s3/index.html
Due: none

fix(helm): Add the correct env variable for service affecting env
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
Due: none

feat(customer-cache): add interface access type
  services/bruin-bridge/src/app.py
  services/bruin-bridge/src/application/actions/get_inventory_attributes.py
  services/bruin-bridge/src/application/models/subscriptions.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
  services/customer-cache/src/application/actions/refresh_cache.py
  services/customer-cache/src/application/repositories/bruin_repository.py
  services/customer-cache/src/tests/actions/refresh_cache_test.py
Due: semantic-release, sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
