Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

.gitlab-ci.yml:

stages:
  - validation
  - unit_test
  - sonar
  - parameters
  - basic_infra
  - basic_infra_kre
  - deploy_kre_runtimes
  - release
  - build
  - deploy
  - helm
  - docs
  - destroy

variables:
  # CI/CD variables
  NATS_MODULE_VERSION: 2.1.0
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  REPOSITORY_URL: 374050862540.dkr.ecr.us-east-1.amazonaws.com
  IGZ_PACKAGES_REPOSITORY_URL: https://s3pypi.mettel-automation.net/igzpackages/index.html
  HTTPS_REMOTE: https://${GITLAB_TOKEN_USER}:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
  GITLAB_API_URL: https://gitlab.intelygenz.com/api/v4/projects/1040

  # Desired replicas of microservices
  BRUIN_BRIDGE_DESIRED_TASKS: "2"
  CUSTOMER_CACHE_DESIRED_TASKS: "1"
  DIGI_BRIDGE_DESIRED_TASKS: "1"
  DIGI_REBOOT_REPORT_DESIRED_TASKS: "1"
  DRI_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_KRE_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_MONITOR_DESIRED_TASKS: "1"
  FRAUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_POLLER_DESIRED_TASKS: "1"
  FORTICLOUD_CACHE_DESIRED_TASKS: "0"
  GATEWAY_MONITOR_DESIRED_TASKS: "1"
  HAWKEYE_AFFECTING_MONITOR_DESIRED_TASKS: "0"
  HAWKEYE_BRIDGE_DESIRED_TASKS: "1"
  HAWKEYE_CUSTOMER_CACHE_DESIRED_TASKS: "1"
  HAWKEYE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  INTERMAPPER_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  LAST_CONTACT_REPORT_DESIRED_TASKS: "1"
  LINKS_METRICS_API_DESIRED_TASKS: "1"
  LINKS_METRICS_COLLECTOR_DESIRED_TASKS: "1"
  LUMIN_BILLING_REPORT_DESIRED_TASKS: "1"
  NATS_SERVER_DESIRED_TASKS: "3"
  EMAIL_BRIDGE_DESIRED_TASKS: "3"
  NOTIFICATIONS_BRIDGE_DESIRED_TASKS: "2"
  PROMETHEUS_NATS_EXPORTER_DESIRED_TASKS: "1"
  REPAIR_TICKETS_KRE_BRIDGE_DESIRED_TASKS: "1"
  REPAIR_TICKETS_MONITOR_DESIRED_TASKS: "1"
  SERVICE_AFFECTING_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_TRIAGE_DESIRED_TASKS: "1"
  SERVICENOW_BRIDGE_DESIRED_TASKS: "1"
  TASK_DISPATCHER_DESIRED_TASKS: "1"
  TNBA_FEEDBACK_DESIRED_TASKS: "1"
  TNBA_MONITOR_DESIRED_TASKS: "1"
  T7_BRIDGE_DESIRED_TASKS: "1"
  VELOCLOUD_BRIDGE_DESIRED_TASKS: "2"

include:
  # Jobs templates used in Gitlab-CI Yml's
  - local: 'gitlab-ci/**/*.yml'
  # Gitlab-CI jobs
  - local: 'infra-as-code/**/.gitlab-ci.yml'
  - local: 'services/**/.gitlab-ci.yml'
  - local: 'helm/.gitlab-ci.yml'
  - local: 'docs/.gitlab-ci.yml'

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
    - yarn bootstrap
    - yarn global add multi-semantic-release
    - apk add --update git bash
    - multi-semantic-release
  resource_group: semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_TITLE =~ /(feat|fix|perf|refactor)\(.*\): .*$/'
      changes:
        - "services/*/src/application/**/*"
        - "services/*/src/config/**/*"
        - "services/*/src/app.py"
        - "services/*/Dockerfile"
        - "services/*/requirements.txt"
    - if: $CI_COMMIT_TAG
      when: never

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
    - kubernetes
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - services/**/*
        - infra-as-code/**/*
    - if: $CI_COMMIT_TAG
      when: never

fix(service-affecting-monitor): add missing logs, and change severity and reword a few existing ones
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor_reports.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/application/repositories/velocloud_repository.py
Due: semantic-release, sonar-analysis

docs(task-dispatcher): add documentation to the service
  docs/README.md
  docs/diagrams/workflows/automation/26-task-dispatcher.bpmn
  docs/images/26-task-dispatcher.png
  docs/logging/events/26-task-dispatcher.md
  docs/logging/services/task-dispatcher/actions/_dispatch_due_tasks.md
  docs/logging/services/task-dispatcher/actions/_dispatch_task.md
  docs/logging/services/task-dispatcher/actions/_forward_ticket.md
  docs/logging/services/task-dispatcher/actions/_publish_result.md
  docs/logging/services/task-dispatcher/actions/start_dispatching.md
  docs/logging/services/task-dispatcher/actions/task_dispatcher_client/clear_task.md
  docs/logging/services/task-dispatcher/actions/task_dispatcher_client/get_due_tasks.md
  docs/logging/services/task-dispatcher/repositories/bruin_repository/change_detail_work_queue.md
Due: none

fix(task-dispatcher): add missing logs
  services/task-dispatcher/src/application/actions/task_dispatcher.py
Due: semantic-release, sonar-analysis

feat(fraud-monitor): update poetry with missing dependencies
  services/fraud-monitor/poetry.lock
  services/fraud-monitor/pyproject.toml
Due: sonar-analysis

docs(fraud-monitor): update documentation and add missing diagrams to the service
  docs/README.md
  docs/diagrams/workflows/automation/27-fraud-monitor.bpmn
  docs/images/27-fraud-monitor.png
  docs/logging/events/27-fraud-monitor.md
  docs/logging/services/fraud-monitor/actions/_append_note_to_ticket.md
  docs/logging/services/fraud-monitor/actions/_create_fraud_ticket.md
  docs/logging/services/fraud-monitor/actions/_fraud_monitoring_process.md
  docs/logging/services/fraud-monitor/actions/_get_oldest_fraud_ticket.md
  docs/logging/services/fraud-monitor/actions/_process_fraud.md
  docs/logging/services/fraud-monitor/actions/_unresolve_task_for_ticket.md
  docs/logging/services/fraud-monitor/actions/start_fraud_monitoring.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/append_note_to_ticket.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/change_detail_work_queue.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/change_detail_work_queue_to_hnoc.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/create_fraud_ticket.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/get_client_info_by_did.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/get_fraud_tickets.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/get_open_fraud_tickets.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/get_resolved_fraud_tickets.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/get_ticket_details.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/get_tickets.md
  docs/logging/services/fraud-monitor/repositories/bruin_repository/open_ticket.md
  docs/logging/services/fraud-monitor/repositories/notifications_repository/get_unread_emails.md
Due: none

fix(service-outage-monitor): add missing logs, and change severity and reword a few existing ones
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/application/actions/triage.py
  services/service-outage-monitor/src/application/repositories/bruin_repository.py
  services/service-outage-monitor/src/application/repositories/digi_repository.py
  services/service-outage-monitor/src/application/repositories/ha_repository.py
  services/service-outage-monitor/src/application/repositories/velocloud_repository.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

feat(helm): Add replicas info to Version Notes generation
  helm/charts/automation-engine/templates/NOTES.txt
Due: none

feat(helm): Add extra info to Notes generation
  helm/charts/automation-engine/templates/NOTES.txt
Due: none

feat(helm): Fix typo in version of helm components
  helm/charts/automation-engine/templates/NOTES.txt
Due: none

docs(): update documentation after black
  docs/logging/services/hawkeye-bridge/repositories/hawkeye_repository/__make_paginated_request.md
Due: none

feat(): update main pyproject toml to python 3.10
  docs/WELCOME_PACK.md
  poetry.lock
  pyproject.toml
Due: none

feat(): apply black to the project
  pyproject.toml
  scripts/reports/signet_network_usage/signet_report.py
  services/hawkeye-bridge/src/application/repositories/hawkeye_repository.py
  services/lambdas/backups-parameter-store/config/config.py
  services/lambdas/backups-parameter-store/ssm_backup.py
  services/links-metrics-api/src/application/server/api_server.py
  services/repair-tickets-monitor/src/application/repositories/bruin_repository.py
  services/service-affecting-monitor/src/application/repositories/template_repository.py
Due: semantic-release, sonar-analysis

feat(): remove mkdocs from local tomls
  scripts/reports/signet_network_usage/poetry.lock
  scripts/reports/signet_network_usage/pyproject.toml
  services/bruin-bridge/poetry.lock
  services/bruin-bridge/pyproject.toml
  services/forticloud-monitor/poetry.lock
  services/forticloud-monitor/pyproject.toml
  services/fraud-monitor/poetry.lock
  services/fraud-monitor/pyproject.toml
  services/hawkeye-bridge/poetry.lock
  services/hawkeye-bridge/pyproject.toml
  services/intermapper-outage-monitor/poetry.lock
  services/intermapper-outage-monitor/pyproject.toml
  services/last-contact-report/poetry.lock
  services/last-contact-report/pyproject.toml
  services/service-outage-monitor/poetry.lock
  services/service-outage-monitor/pyproject.toml
  services/task-dispatcher/poetry.lock
  services/task-dispatcher/pyproject.toml
  services/velocloud-bridge/poetry.lock
  services/velocloud-bridge/pyproject.toml
Due: sonar-analysis

docs(logging/events): create t7 workflow document
  docs/diagrams/workflows/automation/18-t7-bridge.bpmn
  docs/images/18-t7-bridge.jpg
  docs/logging/events/18-t7-bridge.md
Due: none

docs(docs/logging/services/t7-bridge): document t7 bridge logs
  docs/logging/services/t7-bridge/actions/get_prediction.md
  docs/logging/services/t7-bridge/actions/post_automation_metrics.md
  docs/logging/services/t7-bridge/actions/post_live_automation_metrics.md
  docs/logging/services/t7-bridge/clients/t7_kre_client/get_prediction.md
  docs/logging/services/t7-bridge/clients/t7_kre_client/post_automation_metrics.md
  docs/logging/services/t7-bridge/clients/t7_kre_client/post_live_automation_metrics.md
  docs/logging/services/t7-bridge/repositories/t7_kre_repository/get_prediction.md
  docs/logging/services/t7-bridge/repositories/t7_kre_repository/post_automation_metrics.md
  docs/logging/services/t7-bridge/repositories/t7_kre_repository/post_live_automation_metrics.md
Due: none

docs(docs/logging/events): add repair tickets kre bridge events documentation
  docs/diagrams/workflows/automation/19-repair-tickets-kre-bridge.bpmn
  docs/images/19-repair-tickets-kre-bridge.jpg
  docs/logging/events/19-repair-tickets-kre-bridge.md
Due: none

docs(logging/services): document rta bridge logs
  docs/logging/services/repair-tickets-kre-bridge/actions/get_email_inference.md
  docs/logging/services/repair-tickets-kre-bridge/actions/save_closed_ticket_feedback.md
  docs/logging/services/repair-tickets-kre-bridge/actions/save_created_ticket_feedback.md
  docs/logging/services/repair-tickets-kre-bridge/actions/save_outputs.md
  docs/logging/services/repair-tickets-kre-bridge/clients/repair_ticket_client/get_email_inference.md
  docs/logging/services/repair-tickets-kre-bridge/clients/repair_ticket_client/save_closed_ticket_feedback.md
  docs/logging/services/repair-tickets-kre-bridge/clients/repair_ticket_client/save_created_ticket_feedback.md
  docs/logging/services/repair-tickets-kre-bridge/clients/repair_ticket_client/save_outputs.md
  docs/logging/services/repair-tickets-kre-bridge/repositories/repair_ticket_repository/get_email_inference.md
  docs/logging/services/repair-tickets-kre-bridge/repositories/repair_ticket_repository/save_close_ticket_feedback.md
  docs/logging/services/repair-tickets-kre-bridge/repositories/repair_ticket_repository/save_created_ticket_feedback.md
  docs/logging/services/repair-tickets-kre-bridge/repositories/repair_ticket_repository/save_outputs.md
Due: none

docs(docs/logging/events): add repair tickets monitor events documentation
  docs/diagrams/workflows/automation/20-repair-tickets-monitor.bpmn
  docs/images/20-repair-tickets-monitor.jpg
  docs/logging/events/20-repair-tickets-monitor.md
  docs/logging/services/repair-tickets-kre-bridge/repositories/repair_ticket_repository/save_closed_ticket_feedback.md
  docs/logging/services/repair-tickets-monitor/repositories/bruin_repository/get_existing_tickets_with_service_numbers.md
  docs/logging/services/repair-tickets-monitor/repositories/bruin_repository/get_status_and_cancellation_reasons.md
  docs/logging/services/repair-tickets-monitor/repositories/bruin_repository/get_ticket_details.md
  docs/logging/services/repair-tickets-monitor/repositories/bruin_repository/get_tickets_basic_info.md
Due: none

feat(service-outage-monitor): increase service resources
  helm/charts/automation-engine/charts/service-outage-monitor-triage/values.yaml
  helm/charts/automation-engine/values.yaml
  helm/charts/automation-engine/values.yaml.tpl
Due: none

feat(): add autoresolve tickets script
  scripts/on-call/README.md
  scripts/on-call/autoresolve_tickets.py
  scripts/on-call/poetry.lock
  scripts/on-call/pyproject.toml
Due: none

refactor(): replaced deprecated option in poetry
  services/digi-bridge/Dockerfile
  services/digi-reboot-report/Dockerfile
  services/email-bridge/Dockerfile
  services/email-tagger-monitor/Dockerfile
  services/forticloud-cache/Dockerfile
  services/forticloud-monitor/Dockerfile
  services/forticloud-poller/Dockerfile
  services/gateway-monitor/Dockerfile
  services/intermapper-outage-monitor/Dockerfile
  services/notifications-bridge/Dockerfile
  services/repair-tickets-monitor/Dockerfile
  services/servicenow-bridge/Dockerfile
  services/task-dispatcher/Dockerfile
  services/velocloud-bridge/Dockerfile
Due: semantic-release, sonar-analysis

docs(): fix a couple of broken hyperlinks
  docs/logging/events/digi-bridge.md
  docs/logging/services/tnba-monitor/actions/_run_tickets_polling.md
Due: none

docs(): revamp Automation docs' index to group use cases by third-party system, and also to sort entries alphabetically
  docs/README.md
Due: none
