Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

feat(forticloud): disable forticloud poller and monitor before release
  .gitlab-ci.yml
Due: none

feat(forticloud-client): solve problems with get_device_info parameters
  pyutils_automation/clients/forticloud/src/forticloud_client/client.py
Due: none

docs(forticloud): update diagram
  docs/diagrams/infrastructure/infrastructure.drawio.svg
Due: none

Deployed b814a2950 to 1.16.0 with MkDocs 1.3.1 and mike 1.1.2
  1.16.0/sitemap.xml.gz
Due: none

Revert "feat(digi-bridge): update to python 3.10 and add refactor"
  pyproject.toml
  services/digi-bridge/.coveragerc
  services/digi-bridge/.gitlab-ci.yml
  services/digi-bridge/Dockerfile
  services/digi-bridge/poetry.lock
  services/digi-bridge/pyproject.toml
  services/digi-bridge/pytest.ini
  services/digi-bridge/requirements.txt
  services/digi-bridge/setup.py
  services/digi-bridge/src/app.py
  services/digi-bridge/src/application/actions/digi_reboot.py
  services/digi-bridge/src/application/actions/get_digi_recovery_logs.py
  services/digi-bridge/src/application/clients/digi_client.py
  services/digi-bridge/src/application/models/__init__.py
  services/digi-bridge/src/application/models/subscriptions.py
  services/digi-bridge/src/application/repositories/digi_repository.py
  services/digi-bridge/src/tests/action/digi_reboot_test.py
  services/digi-bridge/src/tests/action/get_digi_recovery_logs_test.py
  services/digi-bridge/src/tests/clients/digi_client_test.py
  services/digi-bridge/src/tests/repositories/digi_repository_test.py
Due: semantic-release, sonar-analysis

build(ingra-as-code): Add EKS devops permisions to sergio del puerto
  infra-as-code/basic-infra/5-access/eks-access/dev.tfvars
Due: sonar-analysis

feat(task-dispatcher): add `detail_id` to ticket forward tasks
  services/task-dispatcher/src/application/actions/task_dispatcher.py
  services/task-dispatcher/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

fix(task-dispatcher): pass the correct request body to send a slack message
  services/task-dispatcher/src/application/repositories/notifications_repository.py
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): handle ticket forwards from the task dispatcher only if triage monitoring is not enabled
  services/service-outage-monitor/src/app.py
Due: semantic-release, sonar-analysis

feat(task-dispatcher): add a namespace for each service on the task dispatcher NATS topics
  services/service-outage-monitor/src/app.py
  services/task-dispatcher/src/application/actions/task_dispatcher.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): add a log message on the ticket forward success handler
  services/service-outage-monitor/src/app.py
  services/service-outage-monitor/src/application/actions/handle_ticket_forward.py
Due: semantic-release, sonar-analysis

build(ingra-as-code): Add EKS devops permisions to sergio del puerto
  infra-as-code/basic-infra/5-access/eks-access/production.tfvars
Due: sonar-analysis

feat(forticloud-client): delete close sessions and only init in the login function
  pyutils_automation/clients/forticloud/src/forticloud_client/client.py
Due: none

fix(forticloud): fix terraform parameters
  helm/charts/automation-engine/charts/forticloud-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/bruin.tf
  infra-as-code/basic-infra/1-parameters/forticloud-cache.tf
  infra-as-code/basic-infra/1-parameters/forticloud-monitor.tf
  infra-as-code/basic-infra/1-parameters/forticloud.tf
  services/forticloud-monitor/src/application/consumers/switch_consumer.py
  services/forticloud-monitor/src/integration_tests/conftest.py
Due: semantic-release, sonar-analysis

fix(terraform): provide default values
  infra-as-code/basic-infra/1-parameters/bruin.tf
Due: sonar-analysis

Fix/forticloud client fix
  pyutils_automation/clients/forticloud/src/forticloud_client/client.py
Due: none

feat(digi-bridge): update to python 3.10 and add refactor
  pyproject.toml
  services/digi-bridge/.coveragerc
  services/digi-bridge/.gitlab-ci.yml
  services/digi-bridge/Dockerfile
  services/digi-bridge/poetry.lock
  services/digi-bridge/pyproject.toml
  services/digi-bridge/pytest.ini
  services/digi-bridge/requirements.txt
  services/digi-bridge/setup.py
  services/digi-bridge/src/app.py
  services/digi-bridge/src/application/actions/digi_reboot.py
  services/digi-bridge/src/application/actions/get_digi_recovery_logs.py
  services/digi-bridge/src/application/clients/digi_client.py
  services/digi-bridge/src/application/models/__init__.py
  services/digi-bridge/src/application/models/subscriptions.py
  services/digi-bridge/src/application/repositories/digi_repository.py
  services/digi-bridge/src/tests/action/digi_reboot_test.py
  services/digi-bridge/src/tests/action/get_digi_recovery_logs_test.py
  services/digi-bridge/src/tests/clients/digi_client_test.py
  services/digi-bridge/src/tests/repositories/digi_repository_test.py
Due: semantic-release, sonar-analysis

feat(digi-bridge): pin dependencies and update lock file
  services/digi-bridge/poetry.lock
  services/digi-bridge/pyproject.toml
Due: sonar-analysis

fix(digi-bridge): restore missing import in service's entrypoint
  services/digi-bridge/src/app.py
Due: semantic-release, sonar-analysis

fix(digi-bridge): update Dockerfile's COPY and WORKDIR directives to avoid breaking volumes in local environments
  services/digi-bridge/Dockerfile
Due: semantic-release, sonar-analysis

fix(service-outage-monitor): pass the `service` field to scheduled tasks on the `task-dispatcher`
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

fix(ci): increase semantic release node version to 16.13-alpine
  .gitlab-ci.yml
Due: none

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
