Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
  - yarn bootstrap
  - yarn global add multi-semantic-release
  - apk add --update git bash
  - multi-semantic-release
  resource_group: semantic-release

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  script:
  - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
  ...

build(services/bruin-bridge): Added packer build stage to deploy microservice
  services/bruin-bridge/Dockerfile
Due: semantic-release, sonar-analysis

docs(AC): add basic documentation of AC control FEDRAMP
  docs/AC/AC.md
Due: none

docs(diagrams): Update backups diagrams plan
  docs/diagrams/workflows/backups/ecr.drawio.svg
  docs/diagrams/workflows/backups/eks-ssh-keys.drawio.svg
  docs/diagrams/workflows/backups/git.drawio.svg
  docs/diagrams/workflows/backups/stages.drawio.svg
  docs/diagrams/workflows/backups/terraform.drawio.svg
Due: none

docs(AC): Add AC-12 section with the neccesary information
  docs/AC/AC.md
Due: none

docs(AC): finishing AC-4 control
  docs/AC/AC.md
Due: none

docs(AC): Add AC-8 section with the neccesary information
  docs/AC/AC.md
Due: none

docs(AC): finishing AC-2 controls
  docs/AC/AC.md
Due: none

docs(AC): finish AC-17
  docs/AC/AC.md
Due: none

docs(AC): finish AC-6 2
  docs/AC/AC.md
  docs/diagrams/microservices.drawio.svg
  docs/img/AC/SSM_history_parameters.png
Due: none

build(k8): add mettel users to k8
  infra-as-code/basic-infra/5-access/eks-access/dev.tfvars
Due: sonar-analysis

build(k8): add mettel users to k8 to pro
  infra-as-code/basic-infra/5-access/eks-access/production.tfvars
Due: sonar-analysis

adding eks access
  infra-as-code/basic-infra/5-access/eks-access/production.tfvars
Due: sonar-analysis

fix(service-affecting-monitor): add more loggers to bandwidth report and change start date for getting affecting tickets
  services/service-affecting-monitor/src/application/actions/bandwidth_reports.py
  services/service-affecting-monitor/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

docs(service-outage-monitor): add a comment
  services/service-outage-monitor/src/app.py
Due: semantic-release, sonar-analysis

feat(helm): increase service-affecting-monitor's memory limits so replicas can survive huge peaks of memory utilization while running the Daily Bandwidth Report
  helm/charts/automation-engine/charts/service-affecting-monitor/values.yaml
  helm/charts/automation-engine/values.yaml
  helm/charts/automation-engine/values.yaml.tpl
Due: none

fix(service-affecting-monitor): make sure that Reocurring Trouble Reports are generated only for the clients specified in the service's config
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor_reports.py
Due: semantic-release, sonar-analysis

feat(service-affecting-monitor): remove skip of hnoc rules for vco4
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
Due: semantic-release, sonar-analysis

feat(service-outage-monitor): remove skip of hnoc rules for vco4
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
  services/service-outage-monitor/src/tests/actions/outage_monitoring_test.py
Due: semantic-release, sonar-analysis

feat(service-affecting): remove table in bandwidth report email
  docs/parameters/parameters.md
  services/service-affecting-monitor/src/application/repositories/template_repository.py
  services/service-affecting-monitor/src/templates/bandwidth_report.html
Due: semantic-release, sonar-analysis

feat(): Add missing docker dependencies to services
  docker-compose.yml
Due: none

feat(): Update readme documentation, add missing readme file, add on call playbook
  README.md
  docs/ON-CALL PLAYBOOK.md
  scripts/on-call/README.md
  services/task-dispatcher/README.md
Due: sonar-analysis

docs(service-affecting-monitor): Update missing logs
  docs/logging/services/service-affecting-monitor/actions/bandwidth_reports/_add_bandwidth_to_links_metrics.md
  docs/logging/services/service-affecting-monitor/actions/bandwidth_reports/_bandwidth_reports_job.md
  docs/logging/services/service-affecting-monitor/actions/bandwidth_reports/prepare_items_for_bandwidth_report.md
  docs/logging/services/service-affecting-monitor/actions/bandwidth_reports/start_bandwidth_reports_job.md
Due: none

build(k8): add mettel user to k8
  infra-as-code/basic-infra/5-access/eks-access/dev.tfvars
  infra-as-code/basic-infra/5-access/eks-access/production.tfvars
Due: sonar-analysis

fix(): Add missing terraform files
  infra-as-code/basic-infra/1-parameters/intermapper-outage-monitor.tf
  infra-as-code/basic-infra/1-parameters/repair-tickets-kre-bridge.tf
Due: sonar-analysis

feat(): fix outdated dependencies
  scripts/reports/signet_network_usage/poetry.lock
  services/bruin-bridge/poetry.lock
  services/bruin-bridge/pyproject.toml
  services/digi-bridge/poetry.lock
  services/digi-bridge/pyproject.toml
  services/dri-bridge/poetry.lock
  services/dri-bridge/pyproject.toml
  services/email-bridge/poetry.lock
  services/email-bridge/pyproject.toml
  services/email-tagger-monitor/poetry.lock
  services/email-tagger-monitor/pyproject.toml
  services/forticloud-monitor/poetry.lock
  services/hawkeye-bridge/poetry.lock
  services/hawkeye-bridge/pyproject.toml
  services/intermapper-outage-monitor/poetry.lock
  services/intermapper-outage-monitor/pyproject.toml
  services/notifications-bridge/poetry.lock
  services/notifications-bridge/pyproject.toml
  services/repair-tickets-monitor/poetry.lock
  services/repair-tickets-monitor/pyproject.toml
  services/servicenow-bridge/poetry.lock
  services/servicenow-bridge/pyproject.toml
  services/task-dispatcher/poetry.lock
  services/task-dispatcher/pyproject.toml
  services/velocloud-bridge/poetry.lock
Due: sonar-analysis

build(infra-as-code): remove julia.hosu
  infra-as-code/basic-infra/5-access/eks-access/dev.tfvars
  infra-as-code/basic-infra/5-access/eks-access/production.tfvars
Due: sonar-analysis

build(infra-as-code): add vpn mettel access to documentation site
  infra-as-code/basic-infra/4-services/s3-website.tf
Due: sonar-analysis

added interfaces to ticket request - wip - not tested
  services/bruin-bridge/src/application/actions/post_outage_ticket.py
  services/bruin-bridge/src/application/actions/resolve_ticket.py
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

feat(bruin-bridge): add link (interfaces) to update_ticket_status and post_outage_ticket
  services/bruin-bridge/src/application/actions/resolve_ticket.py
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/tests/action/post_outage_ticket_test.py
  services/bruin-bridge/src/tests/action/resolve_ticket_test.py
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
  services/bruin-bridge/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): fix test line length
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
Due: sonar-analysis

added atawil user
  infra-as-code/basic-infra/5-access/eks-access/dev.tfvars
  infra-as-code/basic-infra/5-access/eks-access/production.tfvars
Due: sonar-analysis

removed stuff
  infra-as-code/basic-infra/5-access/eks-access/dev.tfvars
  infra-as-code/basic-infra/5-access/eks-access/production.tfvars
Due: sonar-analysis

access to eks resources for support team
  infra-as-code/basic-infra/5-access/eks-access/production.tfvars
Due: sonar-analysis

feat(bruin-bridge): add ticket contact request
  services/bruin-bridge/src/app.py
  services/bruin-bridge/src/application/actions/get_ticket_contacts.py
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/bruin-bridge/src/application/models/subscriptions.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
  services/bruin-bridge/src/tests/clients/bruin_client_test.py
  services/bruin-bridge/src/tests/repositories/bruin_repository_test.py
Due: semantic-release, sonar-analysis

fix(bruin-bridge): fix line length
  services/bruin-bridge/src/application/actions/get_ticket_contacts.py
  services/bruin-bridge/src/application/repositories/bruin_repository.py
Due: semantic-release, sonar-analysis

Path conditions:
  semantic-release: any of: services/*/src/application/**/*, services/*/src/config/**/*, services/*/src/app.py, services/*/Dockerfile, services/*/requirements.txt
  sonar-analysis: any of: services/**/*, infra-as-code/**/*
