Repository Bruin-Dev/Intelygenz: changes, and which GitLab CI jobs are due for each by the changed paths.
All: semantic-release, sonar-analysis

.gitlab-ci.yml:

stages:
  - validation
  - unit_test
  - sonar
  - parameters
  - basic_infra
  - basic_infra_kre
  - deploy_kre_runtimes
  - release
  - build
  - deploy
  - helm
  - docs
  - destroy

variables:
  # CI/CD variables
  NATS_MODULE_VERSION: 2.1.0
  DOCKER_HOST: tcp://localhost:2375
  DOCKER_DRIVER: overlay2
  REPOSITORY_URL: 374050862540.dkr.ecr.us-east-1.amazonaws.com
  IGZ_PACKAGES_REPOSITORY_URL: https://s3pypi.mettel-automation.net/igzpackages/index.html
  HTTPS_REMOTE: https://${GITLAB_TOKEN_USER}:${GITLAB_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git
  GITLAB_API_URL: https://gitlab.intelygenz.com/api/v4/projects/1040

  # Desired replicas of microservices
  BRUIN_BRIDGE_DESIRED_TASKS: "2"
  CUSTOMER_CACHE_DESIRED_TASKS: "1"
  DIGI_BRIDGE_DESIRED_TASKS: "1"
  DIGI_REBOOT_REPORT_DESIRED_TASKS: "1"
  DRI_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_KRE_BRIDGE_DESIRED_TASKS: "1"
  EMAIL_TAGGER_MONITOR_DESIRED_TASKS: "1"
  FRAUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_MONITOR_DESIRED_TASKS: "1"
  FORTICLOUD_POLLER_DESIRED_TASKS: "1"
  FORTICLOUD_CACHE_DESIRED_TASKS: "0"
  GATEWAY_MONITOR_DESIRED_TASKS: "1"
  HAWKEYE_AFFECTING_MONITOR_DESIRED_TASKS: "0"
  HAWKEYE_BRIDGE_DESIRED_TASKS: "1"
  HAWKEYE_CUSTOMER_CACHE_DESIRED_TASKS: "1"
  HAWKEYE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  INTERMAPPER_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  LAST_CONTACT_REPORT_DESIRED_TASKS: "1"
  LINKS_METRICS_API_DESIRED_TASKS: "1"
  LINKS_METRICS_COLLECTOR_DESIRED_TASKS: "1"
  LUMIN_BILLING_REPORT_DESIRED_TASKS: "1"
  NATS_SERVER_DESIRED_TASKS: "3"
  EMAIL_BRIDGE_DESIRED_TASKS: "3"
  NOTIFICATIONS_BRIDGE_DESIRED_TASKS: "2"
  PROMETHEUS_NATS_EXPORTER_DESIRED_TASKS: "1"
  REPAIR_TICKETS_KRE_BRIDGE_DESIRED_TASKS: "1"
  REPAIR_TICKETS_MONITOR_DESIRED_TASKS: "1"
  SERVICE_AFFECTING_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_DESIRED_TASKS: "1"
  SERVICE_OUTAGE_MONITOR_TRIAGE_DESIRED_TASKS: "1"
  SERVICENOW_BRIDGE_DESIRED_TASKS: "1"
  TASK_DISPATCHER_DESIRED_TASKS: "1"
  TNBA_FEEDBACK_DESIRED_TASKS: "1"
  TNBA_MONITOR_DESIRED_TASKS: "1"
  T7_BRIDGE_DESIRED_TASKS: "1"
  VELOCLOUD_BRIDGE_DESIRED_TASKS: "2"

include:
  # Jobs templates used in Gitlab-CI Yml's
  - local: 'gitlab-ci/**/*.yml'
  # Gitlab-CI jobs
  - local: 'infra-as-code/**/.gitlab-ci.yml'
  - local: 'services/**/.gitlab-ci.yml'
  - local: 'helm/.gitlab-ci.yml'
  - local: 'docs/.gitlab-ci.yml'

semantic-release:
  stage: release
  image: node:16.10-alpine
  environment:
    name: production
  script:
    - yarn bootstrap
    - yarn global add multi-semantic-release
    - apk add --update git bash
    - multi-semantic-release
  resource_group: semantic-release
  rules:
    - if: '$CI_COMMIT_BRANCH == "master" && $CI_COMMIT_TITLE =~ /(feat|fix|perf|refactor)\(.*\): .*$/'
      changes:
        - "services/*/src/application/**/*"
        - "services/*/src/config/**/*"
        - "services/*/src/app.py"
        - "services/*/Dockerfile"
        - "services/*/requirements.txt"
    - if: $CI_COMMIT_TAG
      when: never

sonar-analysis:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint: [ "" ]
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - sonar-scanner -Dsonar.organization=intelygenz-sonar -Dsonar.python.coverage.reportPaths=coverage.xml -Dsonar.branch.name=${CI_COMMIT_BRANCH}
  tags:
    - kubernetes
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $CI_PIPELINE_SOURCE == "push" || $CI_PIPELINE_SOURCE == "merge_request_event" || $CI_PIPELINE_SOURCE == "web"
      changes:
        - services/**/*
        - infra-as-code/**/*
    - if: $CI_COMMIT_TAG
      when: never

refactor(): use a forward queue enum instead of hard-coding the name of the queue in the logs
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-outage-monitor/src/application/actions/outage_monitoring.py
Due: semantic-release, sonar-analysis

fix(service-affecting-monitor): use the appropriate NATS topic to handle ticket forwards
  services/service-affecting-monitor/src/app.py
Due: semantic-release, sonar-analysis

test(intermapper-outage-monitor): use the `intermapper_monitor` fixture instead of instantiating it on every test
  services/intermapper-outage-monitor/src/tests/actions/intermapper_monitoring_test.py
Due: sonar-analysis

refactor(intermapper-outage-monitor): use the Task Dispatcher client instead of the APScheduler to schedule forwards to HNOC
  services/intermapper-outage-monitor/src/app.py
  services/intermapper-outage-monitor/src/application/__init__.py
  services/intermapper-outage-monitor/src/application/actions/handle_ticket_forward.py
  services/intermapper-outage-monitor/src/application/actions/intermapper_monitoring.py
  services/intermapper-outage-monitor/src/application/models/__init__.py
  services/intermapper-outage-monitor/src/application/models/subscriptions.py
  services/intermapper-outage-monitor/src/tests/actions/intermapper_monitoring_test.py
  services/intermapper-outage-monitor/src/tests/fixtures/instances.py
Due: semantic-release, sonar-analysis

fix(sonar): Fix sonar issues
  ci-utils/ecs/check_ecs_resources.py
  ci-utils/ecs/task_healthcheck.py
  integration-tests/src/application/data/velocloud/network_gateway.py
  services/bruin-bridge/src/application/clients/bruin_client.py
  services/dri-bridge/src/application/repositories/dri_repository.py
  services/last-contact-report/src/application/repositories/template_management.py
  services/last-contact-report/src/templates/last_contact.html
  services/last-contact-report/src/templates/report_mail_template.html
  services/lumin-billing-report/readme-resources/examples/lumin-example.html
  services/lumin-billing-report/src/application/repositories/template_renderer.py
  services/lumin-billing-report/src/templates/lumin_billing_report.html
  services/service-affecting-monitor/src/application/repositories/template_repository.py
  services/service-affecting-monitor/src/templates/bandwidth_report.html
  services/service-affecting-monitor/src/templates/report_mail_template.html
  services/service-affecting-monitor/src/templates/service_affecting_monitor_report.html
  services/velocloud-bridge/src/application/actions/get_edge_links_series.py
  sonar-project.properties
Due: semantic-release, sonar-analysis

fix(sonar): Fix billing report template tests
  services/lumin-billing-report/src/tests/e2e/send_billing_report_test.py
Due: sonar-analysis

fix(sonar): Fix remaining sonar issues on an example report template
  services/lumin-billing-report/readme-resources/examples/lumin-example.html
Due: sonar-analysis

feat(forticloud-cache): add retry forticloud repository when requesting switches, aps or networks ids
  services/forticloud-cache/poetry.lock
  services/forticloud-cache/pyproject.toml
  services/forticloud-cache/src/application/clients/forticloud_client.py
  services/forticloud-cache/src/application/repositories/cache_repository.py
  services/forticloud-cache/src/application/repositories/errors.py
  services/forticloud-cache/src/application/repositories/forticloud_repository.py
  services/forticloud-cache/src/tests/clients/forticloud_client_test.py
  services/forticloud-cache/src/tests/fixtures/instances.py
Due: semantic-release, sonar-analysis

docs(forticloud): new adr about forticloud api restrictions and the different approaches we tried
  adr/adr_template.md
  adr/forticloud_api_restrictions.md
Due: none

Fix configurations and forticloud mappings
  installation-utils/environment_files_generator.py
  services/forticloud-cache/poetry.lock
  services/forticloud-cache/pyproject.toml
  services/forticloud-cache/src/config/config.py
  services/forticloud-monitor/Dockerfile
  services/forticloud-monitor/poetry.lock
  services/forticloud-monitor/pyproject.toml
  services/forticloud-monitor/src/application/consumers/ap_consumer.py
  services/forticloud-monitor/src/application/consumers/switch_consumer.py
  services/forticloud-monitor/src/application/repositories/forticloud_repository.py
  services/forticloud-monitor/src/application/repositories/forticloud_repository_models/get_device.py
  services/forticloud-monitor/src/tests/consumers/ap_consumer_test.py
  services/forticloud-monitor/src/tests/consumers/switch_consumer_test.py
  services/forticloud-monitor/src/tests/repositories/forticloud_repository/get_device_test.py
  services/forticloud-poller/src/application/actions/forticloud_poller.py
  services/forticloud-poller/src/config/config.py
Due: semantic-release, sonar-analysis

Fix Bruin integration and unit tests
  infra-as-code/basic-infra/1-parameters/forticloud-cache.tf
  installation-utils/environment_files_generator.py
  pyutils_automation/bruin-client/pyproject.toml
  pyutils_automation/bruin-client/src/bruin_client/models.py
  pyutils_automation/bruin-client/tests/bruin_client/client_test.py
  services/forticloud-monitor/poetry.lock
  services/forticloud-monitor/src/application/repositories/bruin_repository.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/post_repair_ticket_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/post_ticket_note_test.py
  services/forticloud-monitor/src/tests/repositories/forticloud_repository/get_device_test.py
Due: semantic-release, sonar-analysis

Fix local docker-compose
  docker-compose.yml
Due: none

Fix environment files generator
  installation-utils/environment_files_generator.py
Due: none

Fix tests and close properly the forticloud client
  services/forticloud-monitor/src/app.py
  services/forticloud-monitor/src/application/repositories/forticloud_repository_models/get_device.py
  services/forticloud-monitor/src/integration_tests/conftest.py
  services/forticloud-monitor/src/integration_tests/send_devices_test.py
  services/forticloud-monitor/src/tests/repositories/forticloud_repository/get_device_test.py
Due: semantic-release, sonar-analysis

Forticloud integration tests fixes
  installation-utils/environment_files_generator.py
  pyutils_automation/bruin-client/pyproject.toml
  pyutils_automation/bruin-client/src/bruin_client/client.py
  services/forticloud-cache/src/config/config.py
  services/forticloud-monitor/poetry.lock
  services/forticloud-monitor/src/application/consumers/ap_consumer.py
  services/forticloud-monitor/src/application/consumers/switch_consumer.py
  services/forticloud-monitor/src/application/repositories/forticloud_repository.py
  services/forticloud-monitor/src/tests/repositories/forticloud_repository/get_device_test.py
Due: semantic-release, sonar-analysis

fix(forticloud): fix integration issues
  docker-compose.yml
  infra-as-code/basic-infra/1-parameters/forticloud-cache.tf
  installation-utils/environment_files_generator.py
  pyutils_automation/bruin-client/pyproject.toml
  pyutils_automation/bruin-client/src/bruin_client/client.py
  pyutils_automation/bruin-client/src/bruin_client/models.py
  pyutils_automation/bruin-client/tests/bruin_client/client_test.py
  services/forticloud-cache/poetry.lock
  services/forticloud-cache/pyproject.toml
  services/forticloud-cache/src/config/config.py
  services/forticloud-monitor/Dockerfile
  services/forticloud-monitor/poetry.lock
  services/forticloud-monitor/pyproject.toml
  services/forticloud-monitor/src/app.py
  services/forticloud-monitor/src/application/consumers/ap_consumer.py
  services/forticloud-monitor/src/application/consumers/switch_consumer.py
  services/forticloud-monitor/src/application/repositories/bruin_repository.py
  services/forticloud-monitor/src/application/repositories/forticloud_repository.py
  services/forticloud-monitor/src/application/repositories/forticloud_repository_models/get_device.py
  services/forticloud-monitor/src/integration_tests/conftest.py
  services/forticloud-monitor/src/integration_tests/send_devices_test.py
  services/forticloud-monitor/src/tests/consumers/ap_consumer_test.py
  services/forticloud-monitor/src/tests/consumers/switch_consumer_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/post_repair_ticket_test.py
  services/forticloud-monitor/src/tests/repositories/bruin_repository/post_ticket_note_test.py
  services/forticloud-monitor/src/tests/repositories/forticloud_repository/get_device_test.py
  services/forticloud-poller/src/application/actions/forticloud_poller.py
  services/forticloud-poller/src/config/config.py
Due: semantic-release, sonar-analysis

Fix forticloud response body validation
  services/forticloud-monitor/src/application/repositories/forticloud_repository_models/get_device.py
Due: semantic-release, sonar-analysis

fix(forticloud-monitor): Fix forticloud response parsing
  services/forticloud-monitor/src/application/repositories/forticloud_repository_models/get_device.py
Due: semantic-release, sonar-analysis

feat(digi-reboot-report): migrate to python 3.10 the service
  docker-compose.yml
  services/digi-reboot-report/.coveragerc
  services/digi-reboot-report/.gitlab-ci.yml
  services/digi-reboot-report/Dockerfile
  services/digi-reboot-report/poetry.lock
  services/digi-reboot-report/pyproject.toml
  services/digi-reboot-report/pytest.ini
  services/digi-reboot-report/requirements.txt
  services/digi-reboot-report/setup.py
  services/digi-reboot-report/src/app.py
  services/digi-reboot-report/src/application/actions/digi_reboot_report.py
  services/digi-reboot-report/src/application/repositories/bruin_repository.py
  services/digi-reboot-report/src/application/repositories/digi_repository.py
  services/digi-reboot-report/src/application/repositories/email_repository.py
  services/digi-reboot-report/src/application/repositories/notifications_repository.py
  services/digi-reboot-report/src/tests/actions/digi_reboot_report_test.py
  services/digi-reboot-report/src/tests/repositories/bruin_repository_test.py
  services/digi-reboot-report/src/tests/repositories/digi_repository_test.py
  services/digi-reboot-report/src/tests/repositories/email_repository_test.py
  services/digi-reboot-report/src/tests/repositories/notifications_repository_test.py
Due: semantic-release, sonar-analysis

docs: Add service architecture decision record
  adr/services_architecture.md
Due: none

refactor(intermapper-outage-monitor): move the logic to mark an email as read on production inside of the function
  services/intermapper-outage-monitor/src/application/actions/intermapper_monitoring.py
  services/intermapper-outage-monitor/src/tests/actions/intermapper_monitoring_test.py
Due: semantic-release, sonar-analysis

feat(intermapper-outage-monitor): add the ability to enable or disable monitoring of PIAB devices
  docs/parameters/parameters.md
  helm/charts/automation-engine/charts/intermapper-outage-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/intermapper-outage-monitor.tf
  installation-utils/environment_files_generator.py
  services/intermapper-outage-monitor/src/application/actions/intermapper_monitoring.py
  services/intermapper-outage-monitor/src/config/config.py
  services/intermapper-outage-monitor/src/config/testconfig.py
Due: semantic-release, sonar-analysis

feature(gateway-monitor): migrate to python 3.10
  services/gateway-monitor/.coveragerc
  services/gateway-monitor/.gitlab-ci.yml
  services/gateway-monitor/Dockerfile
  services/gateway-monitor/poetry.lock
  services/gateway-monitor/pyproject.toml
  services/gateway-monitor/pytest.ini
  services/gateway-monitor/requirements.txt
  services/gateway-monitor/setup.py
  services/gateway-monitor/src/app.py
  services/gateway-monitor/src/application/actions/monitoring.py
  services/gateway-monitor/src/application/repositories/notifications_repository.py
  services/gateway-monitor/src/application/repositories/servicenow_repository.py
  services/gateway-monitor/src/application/repositories/velocloud_repository.py
  services/gateway-monitor/src/tests/actions/monitoring_test.py
  services/gateway-monitor/src/tests/fixtures/_helpers.py
  services/gateway-monitor/src/tests/fixtures/instances.py
  services/gateway-monitor/src/tests/repositories/notifications_repository_test.py
  services/gateway-monitor/src/tests/repositories/servicenow_repository_test.py
  services/gateway-monitor/src/tests/repositories/velocloud_repository_test.py
Due: semantic-release, sonar-analysis

refactor(gateway-monitor): deploy service image
  services/gateway-monitor/src/app.py
Due: semantic-release, sonar-analysis

refactor(forticloud-cache): improve settings
  services/forticloud-cache/src/application/clients/forticloud_client.py
  services/forticloud-cache/src/config/config.py
Due: semantic-release, sonar-analysis

refactor(): add a variable for umbrella VCOs and use that instead of hard-coded client names
  docs/parameters/parameters.md
  helm/charts/automation-engine/charts/hawkeye-outage-monitor/templates/external-secret.yaml
  helm/charts/automation-engine/charts/service-affecting-monitor/templates/external-secret.yaml
  helm/charts/automation-engine/charts/service-outage-monitor/templates/external-secret.yaml
  helm/charts/automation-engine/charts/tnba-monitor/templates/external-secret.yaml
  infra-as-code/basic-infra/1-parameters/global.tf
  installation-utils/environment_files_generator.py
  services/hawkeye-outage-monitor/src/application/repositories/metrics_repository.py
  services/hawkeye-outage-monitor/src/config/config.py
  services/hawkeye-outage-monitor/src/config/testconfig.py
  services/service-affecting-monitor/src/application/repositories/metrics_repository.py
  services/service-affecting-monitor/src/config/config.py
  services/service-affecting-monitor/src/config/testconfig.py
  services/service-outage-monitor/src/application/repositories/metrics_repository.py
  services/service-outage-monitor/src/config/config.py
  services/service-outage-monitor/src/config/testconfig.py
  services/tnba-monitor/src/application/repositories/metrics_repository.py
  services/tnba-monitor/src/config/config.py
  services/tnba-monitor/src/config/testconfig.py
Due: semantic-release, sonar-analysis

refactor(service-affecting-monitor): make generic the logic to reuse default contact info across clients under the same umbrella VCO
  services/service-affecting-monitor/src/application/actions/service_affecting_monitor.py
  services/service-affecting-monitor/src/config/config.py
  services/service-affecting-monitor/src/config/testconfig.py
  services/service-affecting-monitor/src/tests/actions/service_affecting_monitor_test.py
Due: semantic-release, sonar-analysis
